
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row filter-user-type">
    <div class="govuk-grid-column-two-thirds">

<a href="2-1-createaccount-uk" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl">
  Access data on behalf of a UK organisation
</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <p>To request access to the data
      on behalf of a UK organisation
      you will need to create an account. To do this you will need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Provide your name, address, email address and telephone number</li>


        <li>Provide your organisation name, type and company registration number</li>


      <li>Accept the terms of use for the dataset(s) you require</li>
    </ul>



    <p class="spacing-bottom-double">We will contact you within 1 working day (subject to volume of applications) to let you know the outcome of your request.</p>

    <a href="2-2-createaccount-uk" role="button" class="govuk-button govuk-button--start">
      Continue
    </a>
  </div>
</div>

    </div>
</div>

{% endblock %}
