
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<nav class="app-navigation-1 govuk-clearfix full-screen">
  <ul class="app-navigation__list">
    <li>
      <a class="govuk-link" href="start" data-topnav="Community">Create account</a>
    </li>
    <li>
      <a class="govuk-link" href="sign-in" data-topnav="Community">Sign in</a>
    </li>
  </ul>
</nav>

<br>
<br>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search</li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="listingspage-v3" class="govuk-back-link">Back</a>
      <br>
      <br>

      <div class="blue-box">

      <span class="govuk-caption-xl">Dataset</span>
      <h1 class="govuk-heading-xl">
        Registered leases
      </h1>
<p class="float_left hidden"><span class="new">Licence agreed</span></p>
      <p><p>Land and property in England and Wales with a leasehold tenure. A leasehold tenure is where the user owns the property for a fixed period of time.</p>
</p>
      <p class="govuk-!-font-weight-bold">You need to <a class="white-link-text" href="start">create an account</a> or <a class="white-link-text" href="login-fromstart">sign in</a> to download this dataset.</p>


      <br>
      <p>Last updated on the  18 October 2018 (updated monthly).
        <br>
      <!-- <span class="govuk-body govuk-!-font-weight-bold"><a href="">Download CSV 15.8KB</a></span> -->
      <span class="govuk-body govuk-!-font-weight-bold">File size is 15.8KB.</span>
      </p>
      <br>

    <div class="state-1" style="margin-bottom: 40px;">
    </div>

    <div id="myModal" class="modal" style="color: black;">

      <!-- Modal content -->
      <div class="modal-content">

        <h1 class="govuk-heading-xl" style="color: black;">
          Agree to the data licences
        </h1>


        <p style="color: black;">The file you are about to download includes data owned by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>HM Land Registry</li>
          <li>Ordnance Survey’s AddressBase Premium</li>
          <li>Royal Mail’s PAF® database (address data) </li>
       </ul>

       <h2 class="govuk-heading-l">How you can use this data</h2>

       <h3 class="govuk-heading-m">If you’re a business </h3>

       <p style="color: black;">You can use this data to: </p>
       <ul class="govuk-list govuk-list--bullet">
         <li>prevent and detect crime, including for:</li>
         <ul class="govuk-list govuk-list--bullet">
           <li>the apprehension or prosecution of alleged offenders</li>
           <li>proceedings in a court or tribunal</li>
           <li>complying with an order, a court or a tribunal</li>
       </ul>
         <li>keep records about land and properties</li>
      </ul>

      <h3 class="govuk-heading-m">If you’re a public body</h3>

      <p style="color: black;">You can use this data if you have a:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Public Sector Mapping Agreement Licence</a></li>
        <li><a href="">One Scotland Mapping Agreement Member Licence</a></li>
      </ul>

      <p style="color: black;">These licences are issued by Ordnance survey and public bodies must use the data under the terms of these licences.</p>

      <p><a href="">Apply for a licence from Ordnance Survey</a>.</p>

      <h2 class="govuk-heading-l">Not sure if you can use this data?</h2>

      <p style="color: black;">Contact Royal Mail before you use this data. Ask them to confirm that your intended use is permitted under the terms of their licence.</p>

      <p style="color: black;"><a href="">Email Royal Mail</a>.</p>

      <h3 class="govuk-heading-m">Read the full licences </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">HM Land Registry’s data</a></li>
        <li><a href="">Ordnance Survey’s AddressBase Premium licence</a></li>
        <li><a href="">Royal Mail’s PAF® database licence</a></li>
      </ul>

      <br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
                <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
                I understand and agree to these licences
              </label>
              </div>
            </div>
          </fieldset>
        </div>

        <a href="#" role="button" draggable="false" class="govuk-button disabled_btn">
          Agree and continue
        </a>
        <br>
        <a href="#" class="cancel-this">Cancel</a>

      </div>

    </div>
      <!-- Start of Modal -->
      <div class="state-2">

    </div>

      <!-- End of Modal -->

      <div class="state-3">

        <div class="
        r">
          <p style="color: white;">Download your file</p>
          <br>
            <a href="" class="download" download><span style="color: black;">Download full file</span></a>
            <a href="" class="download" download><span style="color: black;">Download change only</span></a>
        </div>
        <br><br>
        <a href="#" class="cancel-this">Cancel</a>
      </div><!--end of state 3 -->

      <p>This dataset is <a href="" style="color: white;">free and licenced</a>.</p>

      </div>

      <br>
      <br><p>Read the technical <a href="">specification for Registered leases data</a>.</p>

      <br>
<p></p><h3 class="govuk-heading-m">Example data</h3><br>
        <p>The data shown in this example is not real data. This example is to show what you will see if you download the file.<p>
        <br>

        <table border="0" width="600" cellspacing="0" cellpadding="0" class="govuk-table table-hack">
        <tbody>
        <tr>
        <td width="150">
        <p><strong>Data</strong></p>
        </td>
        <td nowrap="nowrap" width="194">
        <p><strong>What this means</strong></p>
        </td>
        <td width="74">
        <p><strong>Example Data 1</strong></p>
        </td>
        <td width="90">
        <p><strong>Example Data 2</strong></p>
        </td>
        <td width="93">
        <p><strong>Example Data 3</strong></p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Title number</p>
        </td>
        <td width="194">
        <p>Number used by HM Land Registry to identify the landowner and land</p>
        </td>
        <td width="74">
        <p>2</p>
        </td>
        <td width="90">
        <p>abc0000006</p>
        </td>
        <td width="93">
        <p>TTN0000009</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Price paid</p>
        </td>
        <td width="194">
        <p>Price paid for the land</p>
        </td>
        <td width="74">
        <p>1000000</p>
        </td>
        <td width="90">
        <p>1000000</p>
        </td>
        <td width="93">
        <p>1000000</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Property description</p>
        </td>
        <td width="194">
        <p>Description of the leased land, for example an address</p>
        </td>
        <td width="74">
        <p>1 Smith Street</p>
        </td>
        <td width="90">
        <p>2 Smith Street</p>
        </td>
        <td width="93">
        <p>3 Smith Street</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Date of lease</p>
        </td>
        <td width="194">
        <p>Date (lease started)</p>
        </td>
        <td width="74">
        <p>Date</p>
        </td>
        <td width="90">
        <p>Date</p>
        </td>
        <td width="93">
        <p>Date</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Lease count</p>
        </td>
        <td width="194">
        <p>Number of leases on the property</p>
        </td>
        <td width="74">
        <p>Single</p>
        </td>
        <td width="90">
        <p>Multiple</p>
        </td>
        <td width="93">
        <p>Single</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Term</p>
        </td>
        <td width="194">
        <p>How long the lease lasts for</p>
        </td>
        <td width="74">
        <p>999 years</p>
        </td>
        <td width="90">
        <p>1000 years</p>
        </td>
        <td width="93">
        <p>1001 years</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Tenure</p>
        </td>
        <td width="194">
        <p>How the land is owned in a leasehold capacity (Absolute, Good, Possessory or Qualified.)</p>
        </td>
        <td nowrap="nowrap" width="74">
        <p>Leasehold</p>
        </td>
        <td nowrap="nowrap" width="90">
        <p>Leasehold</p>
        </td>
        <td nowrap="nowrap" width="93">
        <p>Leasehold</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Class of title</p>
        </td>
        <td nowrap="nowrap" width="194">
        <p>Describes the type of lease</p>
        </td>
        <td nowrap="nowrap" width="74">
        <p>Absolute</p>
        </td>
        <td nowrap="nowrap" width="90">
        <p>Good</p>
        </td>
        <td nowrap="nowrap" width="93">
        <p>Good</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Lease number</p>
        </td>
        <td width="194">
        <p>Reference used by HM Land Registry to identify the lease</p>
        </td>
        <td width="74">
        <p>Number</p>
        </td>
        <td width="90">
        <p>Number</p>
        </td>
        <td width="93">
        <p>Number</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Alienation cause flag</p>
        </td>
        <td width="194">
        <p>Clause in the leasehold agreement between the landlord and their tenant. The clause may stop the tenant from leaving the lease (selling) before the end of their term.</p>
        </td>
        <td width="74">
        <p>Clause details</p>
        </td>
        <td width="90">
        <p>Clause details</p>
        </td>
        <td width="93">
        <p>Clause details</p>
        </td>
        </tr>
        <tr>
        <td nowrap="nowrap" width="150">
        <p>Variations</p>
        </td>
        <td width="194">
        <p>A change to the terms of the lease</p>
        </td>
        <td nowrap="nowrap" width="74">
        <p>None</p>
        </td>
        <td nowrap="nowrap" width="90">
        <p>None</p>
        </td>
        <td nowrap="nowrap" width="93">
        <p>None</p>
        </td>
        </tr>
        </tbody>
        </table>

        </div>

        <script>
        document.body.className += ' ' + 'product-page';
        </script>

{% endblock %}
