
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row download-page-v2 ">
    <nav class="app-navigation-1 govuk-clearfix full-screen download-page product-page">
      <ul class="app-navigation__list">
        <li>
          <a class="govuk-link" href="detailspages-overseas" data-topnav="Community">Sign out</a>
        </li>
      </ul>
    </nav>
    <div class="govuk-grid-column-full">
      <a href="listingspage-v3" class="govuk-back-link">Back</a>
    </div>
<h1 class="govuk-heading-xl" id="datatitle">Download National Polygon Service</h1>
<p class="meta">Last updated on the <span class="govuk-body govuk-!-font-weight-bold">2 April 2019</span> (updated monthly)</p>


<p>7.4Gb, ZIP, contains shape file and 2 CSV files </p>
<a href="#" role="button" draggable="false" class="govuk-button" download>
  <span class="govuk-body govuk-!-font-weight-bold">Download all of the data</span>
</a>
<a href="#" role="button" draggable="false" class="govuk-button" download>
  <span class="govuk-body govuk-!-font-weight-bold">Download changes from last month</span> - 25Mb, CSV
</a>
<br>
<div class="govuk-inset-text">
  See other datasets from <a href="listingspage-v7">HM Land Registry here</a>
</div>
<br>
<br>
<h2 class="govuk-heading-m" id="datatitle">Historic data from the last 12 months</h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date</th>
      <th class="govuk-table__header" scope="col">All data from that month</th>
      <th class="govuk-table__header" scope="col">What changed that month</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">March 2019</th>
      <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
      <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">February 2019</th>
      <td class="govuk-table__cell"><a href="#" download>Download 1.22Gb</a></td>
      <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">January 2019</th>
      <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
      <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">March 2019</th>
      <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
      <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">December 2018</th>
      <td class="govuk-table__cell"><a href="#" download>Download 1.22Gb</a></td>
      <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">November 2018</th>
      <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
      <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
    </tr>
  </tbody>
</table>
<p>If you need data from a older version that's not listed above, <a href="mailto:someone@email.com">you can contact us</a> and request it.</p>



{% endblock %}
