{% extends "layout.html" %}

{% block pageTitle %}
  Get land and property
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="detailspages-dataset-v4" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">API Technical documentation</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body-l">
                    This is technical information for software engineers who will access Use land and property data using the API.
                </p>

                <h2 class="govuk-heading-l">API overview</h2>
                <p>
                   The API is a subset of the <a href="https://docs.ckan.org/en/2.8/api/">CKAN</a> API with some custom
                   actions/endpoints added. The custom actions/endpoints are external_package_list and resource_download.
                </p>

                <h2 class="govuk-heading-l">Authentication</h2>
                <p>
                   The Use land and property data API uses the same <a href="https://docs.ckan.org/en/2.8/api/#authentication-and-api-keys">
                   CKAN authentication method</a> but we’ll ask for authentication on every request.
                </p>
                <p>
                   The API key should be given on every request as the Authorization or X-CKAN-API-Key header.
                </p>

                <h2 class="govuk-heading-l">Parameters</h2>
                <p>
                   Following CKAN conventions, all parameters should be passed to endpoints as URL encoded parameters.
                </p>

                <h2 class="govuk-heading-l">URL</h2>
                <p>
                   The URL for all endpoints should be: <a href="">http://base-url/api/3/action/{action}</a>
                </p>
                <p>
                   {action} should be replaced by an action name below and followed by parameters with a format of ?id=ccod
                </p>

                <h3 class="govuk-heading-m">Actions/endpoints</h3>
                <p>
                   <strong>package_list</strong> - returns a list of the dataset names available in the service.
                </p>
                <p>
                   Methods available: GET, POST<br>
                   <strong>Parameters:</strong><br>
                   - <strong>limit</strong> (int) - when limit is used, the lists of datasets will be broken into pages
                   for at most limit datasets per page and only one page will be returned at a time (optional)<br>
                   - <strong>offset</strong> (int) - when limit is used, offset shows where to start returning packages from.<br>
                   <strong>Return type</strong>: Array of strings<br>
                   Example: [“newname”, “newname2”]
                </p>
                <hr>
                <p>
                   <strong>external_package_list</strong> - returns a list of HM Land Registry dataset names which are not in the service
                </p>
                <p>
                   Methods available: GET, POST<br>
                   <strong>Parameters</strong>:<br>
                   - <strong>limit</strong> (int) - when limit is used, the lists of datasets will be broken into pages for at
                   most limit datasets per page and only one page will be returned at a time (optional)<br>
                   - <strong>offset</strong> (int) - when limit is used, offset shows where to start returning packages from<br>
                   <strong>Return type</strong>: Array of strings
                </p>
                <hr>
                <p>
                   <strong>package_show</strong> – returns the metadata of a dataset and its resources.
                </p>
                <p>
                   Methods available: GET, POST<br>
                   <strong>Parameters</strong>:<br>
                   - <strong>id</strong> (string) – the id or name of the dataset<br>
                   <strong>Return type</strong>: object
                </p>
                <hr>
                <p>
                   <strong>resource_download</strong> - returns a download URL valid for 60 seconds for a specific
                   resource in a dataset
                </p>
                <p>
                   This action will only work if you have agreed to the dataset licence. You can do this on the Use land
                   and property data service.
                </p>
                <p>
                   Methods available: GET, POST<br>
                   <strong>Parameters</strong>:<br>
                   - <strong>id</strong> (string) – the id or name of the dataset<br>
                   - <strong>resource_id</strong> (string) – the id or file_name of the resource you wish to download<br>
                   <strong>Return type<strong>: object
                </p>
                <br><br>

                <h2 class="govuk-heading-l">Error response codes</h2>
                <p>
                   You should include specific error responses associated with an endpoint close to the endpoint documentation
                   or publish them together at the end of your API reference. Even if you only expect standard responses such
                   as 400 or 200, you should interpret their specific meaning to your API.
                </p>
                <p>
                   For example, the <a href="https://content-api.publishing.service.gov.uk/reference.html#responses">
                   GOV.UK content API documentation</a> includes a table with the endpoint name, error code, what it means
                   and what caused it. This will help your users troubleshoot any problems they may have with your API before
                   contacting you for support.
                </p>

                <h2 class="govuk-heading-l">Support</h2>
                <p>
                   Consider how you can help users trying to use your API. You could add a ‘support’ section in your documentation
                   and include:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>how to contact the API development team (for example, through GitHub or a contact form)</li>
                    <li>how to contribute to development if appropriate</li>
                    <li>links to any supporting information or guidance, such as product blog posts</li>
                </ul>
                <p>
                   You could also explain how users can report any vulnerabilities or security concerns and how you respond
                   to these reports. You could also ask users not to publicly disclose any issue until it has been addressed
                   by your development team.
                </p>
            </div>
        </div>
    </main>
</div>

{% endblock %}
