{% extends "layout.html" %}

{% block pageTitle %}
  Get land and property data
{% endblock %}

{% block content %}
<style>
.multiple-choice {
    border:none !important;
}
.input_selected  {
    background:none !important;
}
</style>


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="listingspage">Home</a></li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Create an account</li>
  </ol>
</div>

<div class="govuk-grid-row filter-user-type">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create an account</h1>

    <div class="govuk-form-group">
      <form id="user-select">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">

            <p>I'm requesting access to this data for:</p>

            <div class="multiple-choice">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="personal" name="what-is-this-data-for" type="radio" value="personal">
                <label class="govuk-label govuk-radios__label" for="personal">
                  my own use
                  <!--<p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-regular">I have a personal interest in this data</p>-->
                </label>
              </div>
            </div>

            <div class="multiple-choice">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="uk-organisation" name="what-is-this-data-for" type="radio" value="uk-organisation">
                <label class="govuk-label govuk-radios__label" for="uk-organisation">
                  a UK organisation
                  <!--<p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-regular">I will use this data for work</p>-->
                </label>
              </div>
            </div>

            <div class="multiple-choice">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="overseas-organisation" name="what-is-this-data-for" type="radio" value="overseas-organisation">
                <label class="govuk-label govuk-radios__label" for="overseas-organisation">
                  an overseas organisation
                 <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-regular"></p> -->
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </form>

      <br><br>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Why you need an account</span>
        </summary>
        <div class="govuk-details__text">
          <h2>We need to check your identity</h2>
          <p>We’ll check your identity with the information you give. We do this to detect and prevent fraud.</p>
          <p>We may share your personal details with third parties to do these checks.</p>
          <p>Our Personal Information Charter has more details about how we use your information.</p>

          <h2>You need to agree to data licences</h2>
          <p>Each dataset has a licence which tells you how you can use the data.</p>
          <p>You must agree to the licence of each dataset you use. We’ll keep a record that you have agreed to the licence.</p>
        </div>
      </details>



  <!--  <div class="govuk-form-group">
      <form id="user-select">
        <fieldset class="govuk-fieldset" aria-describedby="choose-account">
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"  id="personal" name="what-is-this-data-for" type="radio" value="personal">
              <label class="govuk-label govuk-radios__label" for="choose-account-1">
                Personal
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-account-2" name="choose-account" type="radio" value="UKprof">
              <label class="govuk-label govuk-radios__label" for="choose-account-2">
                Professional, working in the UK
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="choose-account-3" name="choose-account" type="radio" value="nonUKprof">
              <label class="govuk-label govuk-radios__label" for="choose-account-3">
                Professional, working outside the UK
              </label>
            </div>
          </div>
        </fieldset>
      </form> -->

      <div class="govuk-!-padding-bottom-5"></div>
      <a href="createaccount-yourdetails" role="button" class="govuk-button">
        Continue
      </a>
    </div>
  </div>
</div>


{% endblock %}
