{% extends "layout.html" %}

{% block pageTitle %}
  Get land and property data
{% endblock %}

{% block content %}


<nav class="app-navigation-1 govuk-clearfix full-screen">
  <ul class="app-navigation__list">
    <li>
      <a class="govuk-link" href="listingspage">Sign out</a>
    </li>
  </ul>
</nav>

<br>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Home</li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds listings2 listings-with-tabs">
    <span class="govuk-caption-xl">HM Land Registry</span>
    <h1 class="gem-c-heading  gem-c-heading--mobile-top-margin govuk-heading-xl">Use land and property data</h1>

    <div class="govuk-tabs listings-with-history" data-module="tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#available">
            Dataset list
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#history">
            Your datatsets
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#api-access">
            Your API key
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="available">
        <div class="column-two-thirds listings-v7">
          <div class="dps-grid-tile">
            <h2><a href="nps-product-signed-in">National Polygon Service</a></h2>
            <p class="dataset-meta">
              <span class="govuk-body govuk-!-font-weight-bold">Zip file. inc. shape file & CSV, 7.3Gb</span>
            </p>
            <p class="dataset-meta free pill-green">
              <span class="govuk-body govuk-!-font-weight-bold">Licence agreed</span>
            </p>
            <p class="dataset-meta">
              <span class="govuk-body govuk-!-font-weight-bold">API available</span>
            </p>
            <p class="meta">Updated on the second day of every month</p>
            <p class="flag"></p>
            <p>Download 3 datasets about registered land and property in England and Wales that show:<br>
              - indicative shape and position of boundaries <br>
              - legal interests and class of title <br>
              - unique property reference numbers <br>
            </p>
            <br>
            <p class="govuk-body govuk-!-font-weight-bold">
              This data includes (where available) polygons, title number, estate interest, class of title, date of creation,
              date of update and Unique Property Reference Number (UPRN)
            </p>
          </div>

          <div class="dps-grid-tile first-tile.odd">
            <h2><a href="overseas-product-signed-in">Overseas companies that own property in England and Wales</a></h2>
            <p class="dataset-meta">
              <span class="govuk-body govuk-!-font-weight-bold">CSV, 1.25Gb</span>
            </p>
            <p class="dataset-meta free pill-green">
              <span class="govuk-body govuk-!-font-weight-bold">Licence agreed</span>
            </p>
            <p class="dataset-meta">
              <span class="govuk-body govuk-!-font-weight-bold">API available</span>
            </p>

            <p class="meta">Updated on the 2 May 2019</p>
            <p class="flag"></p>
            <p class="govuk-body govuk-!-font-weight-bold">
              Download data about non-UK companies that own UK property. This includes the company name, type of company,
              registration number, address, the price paid and more. This file was originally named Overseas companies
              ownership data (OCOD).
            </p>
          </div>


          <div class="dps-grid-tile">
            <h2><a href="uk-product-signed-in">UK companies that own property in England and Wales</a></h2>
            <p class="dataset-meta">
              <span class="govuk-body govuk-!-font-weight-bold">CSV, 1.25Gb</span>
            </p>
            <p class="dataset-meta free pill-green">
              <span class="govuk-body govuk-!-font-weight-bold">Licence agreed</span>
            </p>

            <p class="meta">Updated on the 2 May 2019</p>
            <p class="flag"></p>
            <p class="govuk-body govuk-!-font-weight-bold">
              Download data about UK companies that own UK property. This includes the company name, type of company, registration
              number, address, the price paid and more. This data was originally named Commercial and corporate data (CCOD).
            </p>
          </div>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <h2>You do not need an account to download these files</h2>
          <br />
          <div class="dps-grid-tile">
            <h2><a href="#">HM Land Registry: 1862 Act Register</a></h2>
            <p class="govuk-!-font-weight-bold">Download data about leasehold properties in England and Wales.</p>
          </div>

          <div class="dps-grid-tile">
            <h2><a href="#">HM Land Registry: Price Paid Data</a></h2>
            <p class="govuk-!-font-weight-bold">
              Price Paid Data contains the sale prices of properties in England and Wales submitted to HM Land Registry
              for registration.
            </p>
          </div>

          <div class="dps-grid-tile">
            <h2><a href="#">HM Land Registry: Transaction Data</a></h2>
            <p class="govuk-!-font-weight-bold">
              Our Transaction Data includes information about the number and types of applications we have completed.
            </p>
          </div>

          <div class="dps-grid-tile">
            <h2><a href="#">UK House Price Index: reports</a></h2>
            <p class="govuk-!-font-weight-bold">
              The UK House Price Index (HPI) uses house sales data from HM Land Registry, Registers of Scotland, and Land
              and Property Services Northern Ireland and is calculated by the Office for National Statistics.
            </p>
          </div>

          <div class="dps-grid-tile">
            <h2><a href="#">Index Polygons spatial data</a></h2>
            <p>
              Index Polygons are provided in predefined pots of data corresponding to local authority areas in England and Wales.
            </p>
          </div>

          <div class="dps-grid-tile">
            <h2><a href="#">Geospatial Commission Data Catalogue: HM Land Registry</a></h2>
            <p>
              This catalogue contains information on some of the electronic data we hold and is based on datasets which are
              ‘linked to location’ through HM Land Registry title registrations.
            </p>
          </div>
        </div>
      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
        <div class="history-item">
          <h3><a href="nps-product-signed-in">National Polygon Service</a></h3>
          <div class="history-item-meta">
            <p>
              You last downloaded this file on 25 January 2019.
            </p>
            <p>
              You agreed the data licence on 25 January 2019.
            </p>
            <p>
              The latest version from May 2019 is available.
            </p>
          </div>

          <div class="history-item-ctas">
            <a href="#" role="button" draggable="false" class="govuk-button" download="">
              <span class="govuk-body govuk-!-font-weight-bold">Download all of the data</span> - 1.23Gb, CSV
            </a>
            <a href="#" role="button" draggable="false" class="govuk-button" download="">
              <span class="govuk-body govuk-!-font-weight-bold">Download changes from last month</span> - 25Mb, CSV
            </a>
          </div>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">See older versions of this file</span>
            </summary>

            <div class="govuk-details__text">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">All data</th>
                  <th class="govuk-table__header" scope="col">Data that changed</th>
                </tr>
                </thead>

                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">April 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 7.4Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 250Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">March 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 7.4Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 250Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">February 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.22Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 250Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">January 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 7.4Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 250Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">March 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 7.4Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 250Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">December 2018</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.22Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 250Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">November 2018</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 7.4Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 250Mb</a></td>
                </tr>
                </tbody>
              </table>

              <br><br>
              <p>
                Contact us if you need data from a different month
                <ul>
                  <li><a href="">dst@hmlr.gov.uk</a></li>
                  <li>telephone 0300 1234567</li>
                </ul>
              </p>
            </div>
          </details>
        </div>

        <div class="history-item">
          <h3><a href="overseas-product-signed-in">Overseas companies that own property in England and Wales</a></h3>
          <div class="history-item-meta">
            <p>
              You last downloaded this file on 10 February 2019.
            </p>
            <p>
              You agreed <a href="agree-to-licence">the data licence</a> on 25 January 2019.
            </p>
            <p>
              The latest version from May 2019 is available.
            </p>
          </div>

          <div class="history-item-ctas">
            <a href="#" role="button" draggable="false" class="govuk-button" download="">
              <span class="govuk-body govuk-!-font-weight-bold">Download all of the data</span> - 1.23Gb, CSV
            </a>
            <a href="#" role="button" draggable="false" class="govuk-button" download>
              <span class="govuk-body govuk-!-font-weight-bold">Download changes from last month</span> - 25Mb, CSV
            </a>
          </div>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">See older versions of this file</span>
            </summary>

            <div class="govuk-details__text">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">All data</th>
                  <th class="govuk-table__header" scope="col">Data that changed</th>
                </tr>
                </thead>

                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">April 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">March 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">February 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.22Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">January 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">March 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">December 2018</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.22Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">November 2018</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                </tbody>
              </table>

              <br><br>
              <p>
                Contact us if you need data from a different month
              <ul>
                <li><a href="">dst@hmlr.gov.uk</a></li>
                <li>telephone 0300 1234567</li>
              </ul>
              </p>
            </div>
          </details>
        </div>

        <div class="history-item">
          <h3><a href="uk-product-signed-in">UK companies that own property in England and Wales</a></h3>
          <div class="history-item-meta">
            <p>
              You last downloaded this file on 10 February 2019.
            </p>
            <p>
              You agreed <a href="agree-to-licence">the data licence</a> on 25 January 2019.
            </p>
            <p>
              The latest version from May 2019 is available.
            </p>
          </div>

          <div class="history-item-ctas">
            <a href="#" role="button" draggable="false" class="govuk-button" download="">
              <span class="govuk-body govuk-!-font-weight-bold">Download all of the data</span> - 1.23Gb, CSV
            </a>
            <a href="#" role="button" draggable="false" class="govuk-button" download>
              <span class="govuk-body govuk-!-font-weight-bold">Download changes from last month</span> - 25Mb, CSV
            </a>
          </div>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">See older versions of this file</span>
            </summary>

            <div class="govuk-details__text">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">All data</th>
                  <th class="govuk-table__header" scope="col">Data that changed</th>
                </tr>
                </thead>

                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">April 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">March 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">February 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.22Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">January 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">March 2019</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">December 2018</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.22Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">November 2018</th>
                  <td class="govuk-table__cell"><a href="#" download>Download 1.23Gb</a></td>
                  <td class="govuk-table__cell"><a href="#" download>Download 25Mb</a></td>
                </tr>
                </tbody>
              </table>

              <br><br>
              <p>
                Contact us if you need data from a different month
              <ul>
                <li><a href="">dst@hmlr.gov.uk</a></li>
                <li>telephone 0300 1234567</li>
              </ul>
              </p>
            </div>
          </details>
        </div>
      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="api-access">
        <h2 class="govuk-heading-m">Your API Key</h2>
        <div class="highlight">
          <pre class="highlight plaintext">
            <code>1d6909c5-5e5e-4edc-889c-575a59569ea2-575a59569ea2-5e5e-4edc</code>
          </pre>
        </div>

        <button class="app-copy-button js-copy-button" aria-live="assertive">Copy key</button>

        <p><a class="govuk-link" href="api">See documentation</a></p>
        <br>
        <h2>Reset your API key</h2>
        <button type="submit" class="govuk-button govuk-button--warning">
          Reset key
        </button>
      </section>
    </div>
  </div>
</div>


{% endblock %}
