{% extends "layout.html" %}

{% block pageTitle %}
  Get land and property data
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Reset your password</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email
          </label>
          <input class="govuk-input govuk-input--width-10" id="email" name="email" type="text">
        </div>

        <a href="confirm-reset-password" type="submit" class="govuk-button">
          Send link
        </a>

        <p><a href="create-account">Create an account</a></p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
