
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <nav class="app-navigation-1 govuk-clearfix full-screen">
    <ul class="app-navigation__list">
      <li>
        <a class="govuk-link" href="login" data-topnav="Community">Sign out</a>
      </li>
      <li>
        <a class="govuk-link" href="" data-topnav="Get started">Your profile</a>
      </li>
    </ul>
  </nav>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage-v3">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="detailspages-dataset-v4-logged-in">Registered Leases Data</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Licence agreement</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="api-licence" class="govuk-back-link">Back</a>
        <br>
        <br>
        <h1 class="govuk-heading-xl">Generate API key</h1>

        <h3 class="govuk-heading-m">API Key</h3>
        <div class="highlight"><pre class="highlight plaintext"><code>1d6909c5-5e5e-4edc-889c-575a59569ea2-575a59569ea2-5e5e-4edc</code></pre></div>
        <button class="app-copy-button js-copy-button" aria-live="assertive">Copy key</button>
        <br>

        <p><a class="govuk-link" href="">My Key didn’t work</a></p>
        <p><a class="govuk-link" href="">View licence agreement</a></p>

        <h3 class="govuk-heading-m">Datasets with API access</h3>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="">INSPIRE Polygon Data</a>
          </li>
          <li>
            <a class="govuk-link" href="">Registered Leases Data</a>
          </li>
          <li>
            <a class="govuk-link" href="">Overseas Companies Ownership Data</a>
          </li>
        </ul>

        <h3 class="govuk-heading-m">Full documentation</h2>

        <p>The API is provided by the CKAN software and <a href="http://docs.ckan.org/en/release-v2.2.3/api.html">full documentation is provided here</a>.</p>

        </div>
      </div>

  </main>
</div>


{% endblock %}
