
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage-v3">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="detailspages-dataset-OGL-v2">INSPIRE Polygon Data</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Open Government Licence</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <a href="listingspage-v3" class="govuk-back-link">Back</a>
        <br>
        <br>

        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">About this licence</span>Open Government Licence
          <svg role="presentation" focusable="false" class="govuk-footer__licence-logo ogl-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
            <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
          </svg>
        </h1>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h3 class="govuk-heading-m">What this licence means</h3>
        <p>HM Land Registry permits you to use the Data for commercial or non-commercial purposes. However, this licence does not cover the use of third party rights, which we are not authorised to license.</p>

        <h3 class="govuk-heading-m">Third Party Intellectual Property rights under the Open Government Licence</h3>
        <p>Royal Mail and Ordnance Survey permits your use of address data for personal and/or non-commercial uses. If you want to use the address data in any other way, you must contact Royal Mail.</p>

        <h3 class="govuk-heading-m">Datasets with an Open Government Licence</h3>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="detailspages-dataset-OGL-v2">INSPIRE Polygon Data</a>
          </li>
        </ul>
        <h3 class="govuk-heading-m">Other licence types</h3>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="free-commercial-licence">Free and licensed</a>
          </li>
        </ul>

        <br>

        <a href="listingspage-v3" role="button" class="govuk-button">
          Find datasets
        </a>

        </div>
      </div>

  </main>
</div>


{% endblock %}
