{% extends "layout.html" %}

{% block pageTitle %}
  Get land and property
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="detailspages-dataset-v4" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">HM Land Registry’s Use Land and Property Data</span>
                    Terms of use
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" style="padding: 0;">
                <p class="govuk-body-l">
                    By using this service, you accept these terms of use.
                </p>

                <h2 class="govuk-heading-l">About the service</h2>
                <p>
                    You can use this service to search for land and property data.
                </p>
                <p>
                    Your search will show you a list of land and property data files from HM Land Registry. This data
                    includes the date new data was last added and when the file is updated. This means that, if you search
                    at 1:00pm, we cannot show you data added to the file at 2:00pm. The service cannot tell you if new
                    data is being added while you search.
                </p>
                <p>
                    If you want to check for ‘new’ data, you can search again and download the latest data at any time.
                    New data is added to the service every month.
                </p>
                <p>
                    For some of the land and property data files you’ll need to enter a separate licence.
                </p>

                <h2 class="govuk-heading-l">The data files you’ll get</h2>
                <p>
                    Your search will show you a list of big data files in different formats. These files show data about
                    all land and property in England and Wales.
                </p>
                <p>
                    If you’re looking for information about one address or a few addresses, you can use other HM Land
                    Registry services to find this information: <a href="">https://www.gov.uk/government/organisations/land-registry</a>.
                 <!--   <a href="https://www.gov.uk/government/organisations/land-registry">
                        https://www.gov.uk/government/organisations/land-registry</a>. -->
                </p>

                <h2 class="govuk-heading-l">Creating an account</h2>
                <p>
                    You need an account to use this service.
                </p>
                <p>
                    When you create your account, you may be asked for your credit/debit card details. No payment will
                    be taken and there is no charge for downloading free data. HM Land Registry asks for your card details
                    to identify you.
                </p>
                <p>
                    The information you need to create an account varies depending on who you are and how you plan to use the data.
                </p>

                <h3 class="govuk-heading-m">If you’re using the data for personal use</h3>
                <p>
                    To create an account, you need to give your:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>title</li>
                    <li>first name</li>
                    <li>last name</li>
                    <li>email address</li>
                    <li>telephone number</li>
                    <li>address</li>
                    <li>credit or debit card details</li>
                </ul>
                <p>
                    You’ll be able to sign in to your account immediately after opening an account.
                </p>

                <h3 class="govuk-heading-m">If you’re using the data as part of your work for a UK company or charity</h3>
                <p>
                    To create an account, you need to give your:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>title</li>
                    <li>first name</li>
                    <li>last name</li>
                    <li>email address</li>
                    <li>telephone number</li>
                    <li>organisation address</li>
                    <li>registration number</li>
                </ul>
                <p>
                    You may have to wait up to two working days before you can sign in to your account. This is because
                    HM Land Registry will check details about the organisation you work for before you complete your registration.
                </p>

                <h3 class="govuk-heading-m">If you’re using the data as part of your work for an overseas company</h3>
                <p>
                    To create an account, you need to give your:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>title</li>
                    <li>first name</li>
                    <li>last name</li>
                    <li>email address</li>
                    <li>telephone number</li>
                    <li>organisation details</li>
                    <li>organisation name</li>
                    <li>country of registration</li>
                    <li>credit or debit card details</li>
                </ul>
                <p>
                    You’ll be able to sign in to your account immediately after opening an account.
                </p>
                <p>
                    You cannot change your details once you create an account.
                </p>
                <p>
                    If you need to change your name or address details, you can set up a new account using a different email address.
                </p>

                <h3 class="govuk-heading-m">Keeping your account secure</h3>
                <p>
                    You are responsible for:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>keeping your username and password secure</li>
                    <li>all activity that occurs on or through your account</li>
                </ul>
                <p>
                    If you think your account security has been breached, contact HM Land Registry.
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>telephone 0300 006 0411</li>
                    <li>speak to a Welsh speaker on 0300 006 0422</li>
                </ul>
                <p>
                    HM Land Registry is not responsible for any losses if someone without authorisation uses your account.
                </p>
                <p>
                    If you do not use your account for 12 months, it will be deleted.  This is a security measure to protect
                    you and your information. If you want to start using the service again, you’ll need to re-register.
                </p>

                <h3 class="govuk-heading-m">Account closure</h3>
                <p>
                    Your account will remain live to enable you to use the service at any time.  You can ask for your account
                    to be closed and we’ll de-activate your account. To close your account, call HM Land Registry on 0300
                    006 0411 or to speak to a Welsh speaker, call 0300 006 0422.  We will not delete personal data where it
                    is required to establish, defend, or exercise legal claims, for example in relation to property or registration fraud.  Personal information will be retained for a minimum period of five years.
                </p>

                <h2 class="govuk-heading-l">When and how you can access the service</h2>
                <p>
                    The service is available every day but may be taken down for updates and maintenance. If you are signed
                    in when this happens, you’ll get a notification on your screen.
                </p>
                <p>
                    You can access the service from any supported internet-connected device and browser.
                </p>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Operating system</th>
                        <th class="govuk-table__header">Browser</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Windows</strong></td>
                        <td class="govuk-table__cell">Internet Explorer 11</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">&nbsp;</td>
                        <td class="govuk-table__cell">Edge (latest versions)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">&nbsp;</td>
                        <td class="govuk-table__cell">Google Chrome (latest versions)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">&nbsp;</td>
                        <td class="govuk-table__cell">Mozilla Firefox (latest versions)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>macOS</strong></td>
                        <td class="govuk-table__cell">Safari 12 and later</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">&nbsp;</td>
                        <td class="govuk-table__cell">Google Chrome (latest versions)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">&nbsp;</td>
                        <td class="govuk-table__cell">Mozilla Firefox (latest versions)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>iOS</strong></td>
                        <td class="govuk-table__cell">Safari for iOS 10.3 and later</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">&nbsp;</td>
                        <td class="govuk-table__cell">Google Chrome (latest versions)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Android</strong></td>
                        <td class="govuk-table__cell">Google Chrome (latest versions)</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">&nbsp;</td>
                        <td class="govuk-table__cell">Samsung Internet (latest versions)</td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    ‘Latest versions’ refers to the latest version and the version immediately before that.
                </p>
                <p>
                    This list in the table is based on usage statistics for GOV.UK and represents approximately 95% of
                    the most popular browsers. It’s updated in January and June every year.
                </p>

                <h2 class="govuk-heading-l">Using this service</h2>
                <p>
                    By using the service and/or registering an account, you agree that you will not:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>try to damage or interrupt this service or access to it</li>
                    <li>use software to copy this or any other HM Land Registry system</li>
                    <li>copy the information on our service and show it on another website</li>
                    <li>try to add, change or delete any information from HM Land Registry</li>
                    <li>allow anyone else access your account</li>
                    <li>claim any arrangement or official partnership with HM Land Registry, Royal Mail, and Ordnance Survey,
                        to supply or re-use information</li>
                    <li>use the information for fraudulent or unlawful activity</li>
                    <li>use the information in breach of copyright, including the copyright of an originating authority
                        or their suppliers</li>
                </ul>
                <p>
                    If you are not using this service in the agreed way, HM Land Registry can end your use of the service
                    and cancel your account at any time.
                </p>

                <h2 class="govuk-heading-l">Warranties</h2>
                <p>
                    While we make every effort to keep these land and property data files up to date, we do not provide
                    any guarantees, conditions or warranties that the information will be:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>current</li>
                    <li>secure</li>
                    <li>accurate</li>
                    <li>complete</li>
                    <li>free from bugs or viruses</li>
                </ul>
                <p>
                    We do not publish advice. You should get professional or specialist advice before doing anything on
                    the basis of the content.
                </p>
                <p>
                    We’re not liable for any loss or damage that may come from using these land and property data files.
                    This includes:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>any direct, indirect or consequential losses</li>
                    <li>any loss or damage caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise</li>
                    <li>the use of these data files and any websites that are linked to or from them</li>
                    <li>the inability to use these data files and any websites that are linked to or from them</li>
                </ul>
                <p>
                    This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised
                    us that it might happen.
                </p>
                <p>
                    This includes (but is not limited to) the loss of your:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>income or revenue</li>
                    <li>salary, benefits or other payments</li>
                    <li>business</li>
                    <li>profits or contracts</li>
                    <li>opportunity</li>
                    <li>anticipated savings</li>
                    <li>data</li>
                    <li>goodwill or reputation</li>
                    <li>tangible property</li>
                    <li>intangible property, including loss, corruption or damage to data or any computer system</li>
                    <li>wasted management or office time</li>
                </ul>
                <p>
                    We may still be liable for:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>death or personal injury arising from our negligence</li>
                    <li>fraudulent misrepresentation</li>
                    <li>any other liability which cannot be excluded or limited under applicable law</li>
                </ul>

                <h2 class="govuk-heading-l">Virus protection</h2>
                <p>
                    We make every effort to check and test this service for viruses at every stage of production. You must
                    make sure that the way you use this service does not expose you to the risk of viruses, malicious
                    computer code or other forms of interference which can damage your computer system.
                </p>
                <p>
                    We’re not responsible for any loss, disruption or damage to your data or computer system that might
                    happen when you use this service.
                </p>

                <h2 class="govuk-heading-l">Service delays and interruptions</h2>
                <p>
                    HM Land Registry is not liable to you or any other person for losses caused by:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>delays to this service</li>
                    <li>getting your data files from the service</li>
                </ul>
                <p>
                    For example, from:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>interruptions to the internet</li>
                    <li>services provided by third parties (anyone who is not HM Land Registry)</li>
                    <li>false information from linked websites</li>
                </ul>

                <h2 class="govuk-heading-l">Your information and how we use it</h2>
                <p>
                    If you do not set up an account, the only information we hold about is your IP address. If you create
                    an account, we will hold your:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>IP and email address</li>
                    <li>password</li>
                </ul>
                <p>
                    If HM Land Registry needs to contact you, we’ll notify you on screen. We may also write to you at the
                    email address you provided when you registered.
                </p>

                <h2 class="govuk-heading-l">How we protect your information</h2>
                <p>
                    HM Land Registry follows the Data Protection Legislation and European Parliament Directives. This means
                    that HM Land Registry uses the personal information you provide in accordance with its<a class="govuk-link"
                       href=""> personal information charter</a> to: <!--"https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter"> -->
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>create and manage your account</li>
                    <li>provide the data files you request</li>
                    <li>record the download</li>
                    <li>contact you using the email address you provide</li>
                    <li>prevent and detect crime</li>
                </ul>
                <p>
                    HM Land Registry only shares your personal information with other organisations if we are allowed to by law.
                </p>
                <p>
                    We will:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>make sure nobody has access to it who shouldn’t</li>
                    <li>only keep the information for as long as it’s needed</li>
                    <li>not make it available for commercial use, such as marketing, without your permission</li>
                </ul>
                <p>
                    If we need help processing your request for land and property data, your information can be shared with other:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>teams in HM Land Registry</li>
                    <li>organisations</li>
                </ul>
                <p>
                    There are some cases when your information can be shared for other reasons, for example to prevent crime.
                </p>

                <h2 class="govuk-heading-l">How to make a complaint</h2>
                <p>
                    If you’re unhappy with the service, contact us.
                </p>
                <p>
                    You can:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>complete the online <a href="">contact form</a>.</li>
                        <!--<a class="govuk-link" href="https://help.landregistry.gov.uk/app/contactus_general/">contact form</a>.</li> -->
                    <li>telephone 0300 006 0411</li>
                    <li>speak to a Welsh speaker 0300 003 0422</li>
                </ul>
                <p>
                    If you’re unhappy with the answer you receive, follow <a href="">
                    the HM Land Registry’s internal complaints procedure</a>.
                   <!-- <a class="govuk-link" href="https://www.gov.uk/government/organisations/land-registry/about/complaints-procedure">
                        the HM Land Registry’s internal complaints procedure</a>. -->
                </p>
                <p>
                    If you’re still unhappy with the answer you can contact the Information Commissioner at
                    <a class="govuk-link" href="">https://ico.org.uk/</a>.
                  <!--  <a class="govuk-link" href="https://ico.org.uk/">https://ico.org.uk/</a>. -->
                </p>
            </div>
        </div>
    </main>
</div>


{% endblock %}
