
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Reset password</li>
    </ol>
  </div>

  <div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Reset your password</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <p>We have emailed you a link to reset your password.</p>
            <br />
            <p><a href="login">Back to sign-in</a></p>

            <br>
          </div>

        </div>
      </div>

    </div>

  </main>
</div>


{% endblock %}
