
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Reset password</li>
    </ol>
  </div>

  <div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <a href="" class="govuk-back-link">Back</a>
        <br>
        <br>

        <h1 class="govuk-heading-xl">Resend confirmatoin email</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="post-code">
            Email
          </label>
          <input class="govuk-input govuk-input--width-10" id="post-code" name="post-code" type="text">
        </div>

        <a href="confirm-reset-password" type="submit" class="govuk-button">
          Send another link
        </a>

        <br>
      </div>

    </div>

  </main>
</div>


{% endblock %}
