
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Password created</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <p>You have now created your password.</p>
            <br />
            <p><a href="login-fromstart">Click here to sign in</a></p>

            <br>
          </div>

        </div>
      </div>

    </div>

  </main>
</div>


{% endblock %}
