{% extends "layout.html" %}

{% block pageTitle %}
Use land and property
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="detailspages-dataset-v4" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
       <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl">Accessing data with the API</h1>
           </div>
       </div>

       <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-l">About the API</h2>
               <p>
                   Software engineers can use this API to access datasets in the Use land and property data service.
                   This is a <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a> API in
                   <a href="https://en.wikipedia.org/wiki/JSON">JSON</a> format, making it suitable for a range of programming languages.
               </p>

               <h2 class="govuk-heading-l">What you can access with the API</h2>
               <p>You can use the API to get:</p>
               <ul class="govuk-list govuk-list--bullet">
                   <li>a list of HM Land Registry datasets that are available from this service</li>
                   <li>a list of HM Land Registry datasets that are not part of the service</li>
                   <li>information and metadata about datasets</li>
                   <li>secure links for downloading datasets</li>
               </ul>

               <p>You can access datasets that show:</p>
               <ul class="govuk-list govuk-list--bullet">
                   <li>
                       <a href="overseas-product">Overseas companies that own property in England and Wales</a>
                   </li>
                   <li>
                       <a href="uk-product">UK companies that own property in England and Wales</a>
                   </li>
                   <li>
                       <a href="nps-product">National Polygon Service</a>
                   </li>
               </ul>

               <br>

               <h2 class="govuk-heading-l">How to access the datasets</h2>
               <p>You need to create an account and agree to a licence to access the datasets.</p>
               <ol class="govuk-list govuk-list--number">
                   <li><a href="create-account">Create an account</a> if you do not have one</li>
                   <li><a href="sign-in">Sign in</a> to your account</li>
                   <li>Agree to the data licence(s) on the Use land and property data website</li>
                   <li>Get your API</li>
               </ol>

               <br><br>

               <h2 id="p3" class="govuk-heading-l">Base URL</h2>
               <p>
                   Access the API from the base URL:
                   <a href="http://base-url/api/3/action/{action}">http://base-url/api/3/action/{action}</a>
               </p>

               <br><br>

               <h2 class="govuk-heading-l">API versions</h2>
               <p>
                   This is API version [x.x] See <a href="">previous API versions and what has changed</a>.
               </p>

               <h2 id="p4" class="govuk-heading-l">API documentation</h2>
               <p>
                   For technical information read the <a href="api-tech.html">API technical documentation</a>.
               </p>
           </div>
       </div>
    </main>
</div>

{% endblock %}
