{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="context" data-id="id-1"></div>

<br>
<br>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      <a href="https://www.gov.uk/government/organisations/land-registry">HM Land Registry</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      <a href="listingspage">Use land and property data</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      Why create an account
    </li>
  </ol>
</div>
<!--
<div class="state-1 toggle-states"><a href="#">View licence</a></div><div class="state-2 toggle-states"><ul><li>Point 1</li><li>Point 2</li><li>Point 3</li><li>Point 4</li><li>Point 5</li></ul><a href="#">Agree</a></div><div class="state-3 toggle-states"><a href="#" download>Dowload latest</a></div>
-->



  <div class="grid-row why-sign-up">
    <div class="column-two-thirds listings-grid">

      <h1 class="gem-c-heading  gem-c-heading--mobile-top-margin govuk-heading-xl">Why do I need an account to download HM Land Registry data?</h1>
      <p>HM Land Registry asks you to create an account because:</p>
      <ul>
        <li>this data is owned by more than one organisation</li>
        <li>you can only use it in a certain way</li>
        <li>you need security clearance before you can see it</li>
      </ul>

</div>

</div>



{% endblock %}
