{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}

<nav class="app-navigation-1 govuk-clearfix full-screen">
  <ul class="app-navigation__list">
    <li>
      <a class="govuk-link" href="listingspage">Sign out</a>
    </li>
  </ul>
</nav>

<br>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="listingspage-signed-in">Home</a></li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="nps-product-context2">National polygon service</a></li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Sample data licence</li>
  </ol>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">National Polygon Service sample data</h1>

        <h2>Data Exploration Licence</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>Is free of charge.</li>
          <li>Lets you use HMLR Data for 12 months, unless we tell you, or you and we agree, something else.  It will renew automatically every 12 months unless either of you or we choose to end it. ‘HMLR Data’ means any HMLR datasets that you have access to but not Third Party HMLR Data.  This Licence will automatically end if 24 months have elapsed since your last request for updates to any Exploration Data.</li>
          <li>We use Ordnance Survey data in the preparation of the polygons and property addresses contained within the Exploration Data. Therefore these license terms are by licence with Ordnance Survey</li>
          <li>Includes both this page and the small print below. Please read all terms before accessing any HMLR Data or Third Party HMLR Data (together Exploration Data) so that you understand this Licence and what we agree you can and can’t do with Exploration Data.</li>
          <li>Lets you do any of the things we list below.</li>
        </ul>

        <h3>So you can:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Evaluate Exploration Data to see if what we’re offering is what you need.</li>
          <li>Use Exploration Data to research and develop your ideas and propositions. It doesn’t matter if you’re not sure yet how Exploration Data might help you. For example, you may want to assess it for a potential commercial opportunity or see what potential benefits and value it could bring to you, helping you build your case for licensing Exploration Data for use in your business or organisation.  Note these research and development rights are subject to the provisions below regarding live trials or tests</li>
          <li>Display Exploration Data or create working prototypes using Exploration Data to demonstrate and promote on your own equipment how your ideas or propositions for using our data would work, which is ideal if you’re talking to potential customers, agents, investors or other financial backers.  With our prior agreement, you can also provide prototypes for a short time to any of these people on equivalent terms to this Licence solely to help them to make a better assessment of your idea or proposition.  We will work with you to enable this to happen, where possible.</li>
          <li>Use Exploration Data (excluding AddressBase® Islands) in live trials or tests within your business or organisation for up to 3 months to determine whether you wish to license it as an internal business aid immediately after your live trial.</li>
          <li>Use small extracts of HMLR Data (or data created from it under another licence) in time-bound events that promote collaboration and innovation, to provide better insight into specific uses or develop ideas or answer particular questions, for example, as part of competitions, hackathons and mash-ups.</li>
          <li>Publish small extracts of HMLR Data to promote your use of HMLR Data in articles and at events that intend to share or widen knowledge (such as academic papers, trade journals or industry conferences).</li>
        </ul>

        <h3>In return, we ask you to:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Provide us with information about you and/or your company or organisation as requested when you register to access Exploration Data so that we know who we are licensing and what you are wanting to do.</li>
          <li>Acknowledge that you’re using Exploration Data and that you’re doing so in the right way. You cannot reproduce the HMLR logo unless it forms an integral part of the Exploration Data and you are reproducing it in that context</li>
          <li>Make sure any prototypes you provide or any HMLR Data you provide (or data created from it under another HMLR licence) is returned to you or destroyed within 7 days of the end of the assessment or event.  Tell us in advance if doing this might disrupt your longer term plans and we can discuss appropriate licensing.</li>
          <li>Take sensible measures to make sure all Exploration Data supplied to you is secure from any unauthorised use or access. For the purpose of auditing compliance with the terms of this Licence and for the prevention and/or detection of crime you will maintain accurate, complete and detailed records relating to this Licence regarding access to the Exploration Data by your staff including unauthorised access and information regarding any prototypes created.</li>
        </ul>

        <h3>Under this Licence you must not do the following:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Unless we expressly permit you to do so above, make any Exploration Data available to third parties or create any products or services which have benefitted from, relied on or made any use of Exploration Data (including, without limitation, where you have created your products or services by copying, publishing, modifying, re-formatting, analysing or performing searches, look ups or enquiries using Exploration Data). You agree that, if you want to make Exploration Data available in this way, you will tell us and will not proceed until we agree the basis on which that can happen.</li>
        </ul>

        <h3>The Small Print</h3>

        <h4>1	Parties</h4>
        <p>
          This Licence is between HM Land Registry (acting by the Chief Land Registrar) whose head office is Trafalgar House, 1 Bedford Park, Croydon, CR0 2AQ (we/us/our/HMLR) and the person or organisation who downloads the Exploration Data (you/your). You and we are each a party and together the parties.
        </p>

        <h4>2	Licence</h4>
        <p>
          Subject to the restrictions referred to in this Licence, we grant you a non-exclusive, non-transferable, revocable licence to use Exploration Data for the relevant period stated above for the permitted purposes described in the table above.
        By downloading Exploration Data you agree to be bound by these terms and conditions. Downloading Exploration Data constitutes acceptance by us of your request. These terms and conditions form the licence between you and us (Licence).
        This Licence commences with effect from the date you first request access to Exploration Data.
        We and/or our suppliers (including the Crown) own all the intellectual property rights in Exploration Data. All rights not expressly granted are reserved to HMLR and its licensors (including the Crown).
        </p>

        <h4>4	Feedback</h4>
        <p>
          At our request, you will give us reasonable details about your intended use for Exploration Data under this Licence by whatever means we might reasonably request.
        </p>

        <h4>5	No Warranty</h4>
        <p>
          It is your responsibility to ensure that the Exploration Data you request is what you need. Exploration Data is provided ‘as is’ and without any warranty or condition express or implied, statutory or otherwise as to its quality or fitness for purpose. Except as expressly stated in this Licence, all conditions, warranties, terms and undertakings express or implied statutory or otherwise in respect of the Exploration Data are hereby excluded to the fullest extent permitted by law.
        </p>

        <h4>6	Liabilities</h4>
        <p>
        There is nothing in this Licence that excludes or limits your liability for an infringement or breach of our intellectual property rights.
        Neither party excludes its liability to the other under this Licence for fraud, and for personal injury or death caused either by its negligence or that of its employees and authorised subcontractors and agents.
        Subject to the above, neither party shall be liable to the other for indirect, special or consequential loss or damage or any other financial loss (howsoever caused) which occurs as a result of the use of, or lack of performance of the Exploration Data.
        </p>

        <h4>7	Termination</h4>
        <p>
          Either party may terminate this Licence with immediate effect. Termination or expiry of this Licence shall not affect either party’s accrued rights and remedies. On the termination of this licence you shall (except in respect of any Exploration Data for which at the time of termination or expiry, you have an appropriate licence from HMLR):
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>immediately cease using the Exploration Data;</li>
          <li>destroy (or at our option return) all Exploration Data under this Licence that you hold or for which you are responsible including any Exploration Data that is embedded into any other material and provide written confirmation that you have done so at our request;</li>
          <li>make sure anyone else you have supplied Exploration Data to under this Licence also adheres to these conditions.</li>
        </ul>
        <p>
          Any provision that is expressly or by implication intended to survive the termination or expiry of this Licence shall continue in full force and effect.
        </p>

        <h4>8	Data protection and privacy</h4>
        <p>
          You shall comply with all relevant laws and regulations relating to the processing of personal data and privacy, including, without limitation:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>any data protection legislation from time to time in force in the UK, including the Data Protection Act 2018;</li>
          <li>unless and until the General Data Protection Regulation ((EU) 2016/679) (the GDPR) is no longer directly applicable in the UK, the GDPR and any national implementing laws, regulations and secondary legislation, as amended or updated from time to time, in the UK; and</li>
          <li>any successor legislation to the Data Protection Act 2018 and/or the GDPR.</li>
        </ul>
        <p>
          We shall comply with the terms of our privacy policy available at <a href="https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter">https://www.gov.uk/government/organisations/land-registry/about/personal-information-charter</a>
        </p>

        <h4>9	Confidentiality</h4>
        <p>
          Neither you nor we will disclose to any person (either during the term of this Licence or after), any confidential information belonging to the other party which is in its possession as a result of this Licence unless with the consent of the other party or due to a legal, governmental or regulatory requirement.  You acknowledge that we are bound by the Freedom of Information Act 2000 and the Environment Information Regulations 2004 and you will provide such assistance, without charge, as we shall reasonably request to assist us comply with these statutes.
        </p>

        <h4>10 Other General Provisions</h4>
        <p>This Licence sets out the entire agreement and understanding between you and us in respect of the subject matter of this Licence.</p>
        <p>We may change any part of this Licence, including the availability of the Exploration Data, at any time with immediate effect.  If you continue to access updates of any Exploration Data after any such change is made, you shall be deemed to have accepted the modified terms. If you do not wish to accept the modified terms, you must terminate this Agreement by giving us written notice.  It is therefore recommended that you regularly review this Licence so that you are aware of the latest terms.</p>
        <p>Any notice under this Licence shall be effected when given to your registered e-mail address.</p>
        <p>You shall not assign, transfer or novate rights and obligations under this Licence. We shall be entitled to assign, transfer or novate the benefits and obligations of this Licence to any government body or nominated subcontractor or, in the event of the transfer of all or any of our activities or functions to any other entity, to the entity to which our functions have been transferred. You expressly agree to the assumption of our obligations under this Licence by that entity.</p>
        <p>This Licence will be governed by English law and both parties agree to the exclusive jurisdiction of the English courts.</p>
        <p>A person who is not a party to this Licence has no rights under the Contracts (Rights of Third Parties) Act 1999 to enforce or enjoy the benefit of any term of this Licence.</p>



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
                <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
                I understand and agree to these licences
              </label>
              </div>
            </div>
            <form action="download" method="get">
              <input type="hidden" name="fname" id="dataset"><br>
              <a href="download-nps-sample" class="govuk-button disabled_btn">Agree and continue</a>
            </form>
          </fieldset>
        </div>
      </div>


    <div class="govuk-grid-column-one-third">
      <div class="app-c-download-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#0a0101" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"/></svg>
        <a href="#" onclick="myFunction()" class="app-c-print-link__link" rel="alternate" download>   Download this licence - 15Kb, HTML
        </a>
      </div>
        <div class="app-c-print-link">
          <a href="#" onclick="myFunction()" class="app-c-print-link__link" rel="alternate">
            Print  licence
          </a>
        </div>

      </div>
  </main>
</div>
<script>
  var url = document.referrer;

  if (url.indexOf("overseas") > -1) {
    url = "overseas";
  }

  if (url.indexOf("registered") > -1) {
    url = "registered";
  }
  if (url.indexOf("uk") > -1) {
    url = "uk";
  }
  document.getElementById('dataset').value = url;

</script>




{% endblock %}
