{% extends "layout.html" %}

{% block pageTitle %}
Use land and property
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="detailspages-dataset-v4" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Contact</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p>
                    <strong>Data Services Team</strong>​<br>
                    HM Land Registry​<br>
                    Rosebrae Court ​<br>
                    Woodside Ferry Approach​<br>
                    Birkenhead​<br>
                    Merseyside​<br>
                    CH41 6DU
                </p>
                <p>
                    Email: <a href="mailto:data.services@landregistry.gov.uk">data.services@landregistry.gov.uk​</a>
                </p>
                <p>​
                    Telephone: 0300 006 0478
                </p>
            </div>
        </div>
    </main>
</div>

{% endblock %}
