{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">The link to create your password has expired</h1>

        <a href="new-link-sent" type="submit" class="govuk-button">
          Send a new link
        </a>
      </div>
    </div>
  </main>
</div>




{% endblock %}
