{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}

<nav class="app-navigation-1 govuk-clearfix full-screen">
  <ul class="app-navigation__list">
    <li>
      <a class="govuk-link" href="listingspage">Sign out</a>
    </li>
  </ul>
</nav>

<br>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="listingspage-signed-in">Home</a></li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="nps-product-context2">National polygon service</a></li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Licence</li>
  </ol>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds" style="padding-left: 0px;">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">National Polygon Service</span>
          Licence - Terms and Conditions
        </h1>


        <p class="govuk-body-lead">The Schedule</p>
        <p>
          This Licence is dated ______________________
        </p>
        <p>
          and is made between
        </p>
        <ol class="govuk-list govuk-list--number">
          <li>HM Land Registry (acting by the Chief Land Registrar) (the Licensor)</li>
          <p style="margin-top: 20px;">
            and
          </p>
          <li>
            the person named as Licensee in the Schedule (the Licensee).
          </li>
        </ol>


        <h2 class="govuk-heading-l">1. Definitions and interpretation</h2>
        <p>
          In this Licence, unless the context requires otherwise, the following expressions shall have the following meanings:
        </p>
        <p>
          ‘Charges’ - The charges made by us as set out in the attached Schedule.
        </p>
        <p>
          ‘End-user’ - Users or subscribers who use electronic or digital versions of your Product.
        </p>
        <p>
          ‘End-user Licence’ - The terms on which you permit End-users to use the content of electronic or
          digital versions of your Product.
        </p>
        <p>
          ‘End-user Record’ - Details of the names and addresses of End-users and the data/services provided to them.
        </p>
        <p>
          ‘Information’- The copyright work or database subject to a database right specified in the Schedule.
        </p>
        <p>
          ‘Licence’ - This licence, including the Schedule.
        </p>
        <p>
          ‘Normal Working Hours’ – Means 9am to 5pm on a Working Day.
        </p>
        <p>
          ‘Product’ - Your product or service that is created by combining the Information with other information or
          data resulting in an enhanced or value added product or service.
        </p>
        <p>
          ‘Start date’ - As stated in the Schedule.
        </p>
        <p>
          ‘Term’ – the term as stated in the Schedule.
        </p>
        <p>
          ‘We’, ‘us’, ‘our’ - The Licensor.
        </p>
        <p>
          ‘Working Day’ - Every Monday to Friday, excluding Bank Holidays in England and Wales.
        </p>
        <p>
          ‘You’, ‘your’ - The Licensee named in the Schedule, and its agents.
        </p>

        <h2 class="govuk-heading-l">2. Grant</h2>
        <p>
          In consideration of the payment of the Charge, we grant you
        </p>
        <ol class="govuk-list govuk-list--number">
          <li>access to the Information, and</li>
          <li>the non-exclusive rights set out in the Schedule on the terms set out in this Licence.</li>
        </ol>

        <h2 class="govuk-heading-l">3. Term</h2>
        <p>
          This Licence begins on the Start date and is for the Term unless terminated in accordance with terms of this Licence.
        </p>

        <h2 class="govuk-heading-l">4. Your obligations</h2>
        <p>
          You have the following obligations under this Licence:
        </p>
        <ol class="govuk-list govuk-list--number">
          <li>
            <ol class="govuk-list govuk-list--number">
              <li>
                to let us know in writing (by post or email) of any change to your name, address or any other details
                relevant to this Licence;
              </li>
              <li>
                not to present out-of-date Information as being current;
              </li>
              <li>
                to ensure that you do not use the Information in a way that suggests any official status or that we
                endorse you or your use of the Information; 
              </li>
              <li>
                to ensure that you do not mislead others or misrepresent us or the Information; 
              </li>
              <li>
                to acknowledge the source of the Information by including any acknowledgment and copyright statement
                set out in the Schedule;
              </li>
              <li>
                not to reproduce the Land Registry logo unless it forms an integral part of the Information and you are
                reproducing it in that context;
              </li>
              <li>
                to keep full and accurate records of any sales of your Product for audit purposes;
              </li>
              <li>
                to send us, if we ask for it, one complimentary copy of your Product
              </li>
              <li>
                not to copy, sell, distribute, send or make use of the Information provided as part of this Service
                for any other purpose other than in your Products. For the avoidance of doubt resale of the whole or
                any part of the Information as a standalone product or service is not permitted.
              </li>
              <li>
                not to use the Land Registry Title Number or permit it to be used in any way that causes Land Registry
                Systems, e.g. Business Gateway, or access to those to be interrupted, damaged or impaired in any way
                and to include this condition in the End-user Licence.
              </li>
              <li>
                to comply with data protection laws in your use of the Information.
              </li>
              <li>
                to maintain End-user records and to allow us or our personnel or an Auditor appointed by us access to
                all the End-user records for as long as this Licence is in existence and for a period of Twelve months
                afterwards, provided that:
                <ol class="govuk-list govuk-list--number">
                  <li>
                    The purpose of such an audit of End-user records is solely for the purpose of auditing compliance
                    with the terms of this Licence and for the prevention and/or detection of crime;
                  </li>
                  <li>
                    Access for the purpose of inspecting the End-user records (a) in the case of suspected fraud shall
                    be on not less than one days' written notice at any time during normal business hours; and (b) in
                    any other case not less than five days’ written notice at any time during normal business hours
                  </li>
                  <li>
                    You will provide us with all reasonable assistance in the carrying out of such audit. We and the
                    Auditor will ensure that any information obtained in the course of the audit concerning your business
                    is kept confidential and not used for any purpose other than the proper conduct of the audit.
                  </li>
                </ol>
              </li>
              <li>
                to use all reasonable endeavours to provide technological and security measures to ensure that the
                Information is physically and electronically secure from unauthorised use or access.
              </li>
              <li>
                to notify us as soon as you become aware of, or suspect, any unauthorised use of the Information or any
                infringement or other breach by you or any other third party of our intellectual property rights in the Information.
              </li>
            </ol>
          </li>
        </ol>

        <h2 class="govuk-heading-l">5. Payment and payment arrangements</h2>
        <p>
          This Licence is granted subject to payment of the Charges and in accordance with the payment details set out in the Schedule.
        </p>

        <h2 class="govuk-heading-l">6. VAT</h2>
        <p>
          Payments will be subject to VAT (where applicable) at the rate in force at the due time for payment.
        </p>

        <h2 class="govuk-heading-l">7. Invoices</h2>
        <p>
          We will send you an invoice for the amount that you are due to pay to us. We have the right to charge interest
          in accordance with the Late Payment of Commercial Debts (Interest) Act 1998 on any amounts that are not paid
          within 30 days.
        </p>

        <h2 class="govuk-heading-l">8. Ending the Licence</h2>
        <p>
          This Licence ends on the expiry of the Term but may be ended earlier under the following provisions:
        </p>
        <h3 class="govuk-heading-m">8.1 By you</h3>
        <p>
          You have the right to end this Licence at any time by giving not less than three calendar months’ notice
          to us in writing (by post or email).
        </p>
        <h3 class="govuk-heading-m">8.2 By us</h3>
        <p>
          We have the right to end this Licence:
        </p>
        <ol class="govuk-list govuk-list--number">
          <li>
            at any time during the Term by giving you not less than three calendar months’ notice in writing (by post or email);
          </li>
          <li>
            at any time if you are wound up, declared bankrupt, placed in the hands of receivers or creditors or
            otherwise stop operating;
          </li>
          <li>
            at any time if there is a material breach of the terms of this Licence and you do not put this right
            within 14 days of our telling you in writing or by email, or
          </li>
          <li>
            in order to comply with any legal requirement (including any decision of the Information Commissioner).
          </li>
        </ol>

        <h2 class="govuk-heading-l">9. Consequences of the Licence ending</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Ending this Licence shall not affect our rights to claim outstanding Charges or inspect End-user records
            under this Licence. However, if we have terminated this Licence under the provisions of clause 8.2a) above,
            you will be entitled to a refund of part of the Charges calculated on a pro-rata basis from the date of
            termination to the end of the Term.
          </li>
          <li>
            Ending this Licence means that your right to use the Information terminates.
          </li>
        </ul>

        <h2 class="govuk-heading-l">10. Changes to the terms of the Licence</h2>
        <p>
          We may amend or vary any or all of these terms by giving you not less than three months written notice of the changes.
        </p>
        <p>
          On receipt of notification of any changes referred to above you have the right to terminate the Licence by
          giving us one month’s written notice of termination to take effect any time during the notification period
          referred to above.
        </p>

        <h2 class="govuk-heading-l">11. Assignment</h2>
        <p>
          You must not assign or sub-license (other than through an End-user Licence) your rights under this Licence
          to any other person.
        </p>

        <h2 class="govuk-heading-l">12. Warranties</h2>
        <ol class="govuk-list govuk-list--number">
          <li>
            <ol class="govuk-list govuk-list--number">
              <li>
                We warrant to you that to the best of our knowledge, and subject to any further warranties set out
                in the Schedule, we have the authority and power to grant the rights set out in the Licence and that
                the Licence does not infringe any other person or organisation’s rights.
              </li>
              <li>
                The Information is licensed 'as is' and we exclude all representations, warranties, obligations and
                liabilities in relation to the Information to the maximum extent permitted by law.
              </li>
              <li>
                We will use reasonable skill and care in the collection, processing and provision of the Information
                but do not warrant or guarantee the completeness or accuracy or error free nature of any of the Information.
              </li>
              <li>
                We do not warrant that the Information will be fit for your particular purpose.
              </li>
            </ol>
          </li>
        </ol>

        <h2 class="govuk-heading-l">13. Liability</h2>
        <ol class="govuk-list govuk-list--number">
          <li>
            <ol class="govuk-list govuk-list--number">
              <li>
                We do not accept any liability for any losses incurred by you or any third party as a result of your
                or their reliance on the Information. We will not be liable for any loss of actual or anticipated
                profits or savings, loss of business, loss of opportunity, loss or corruption of Information, loss of
                contracts, or for any indirect or consequential loss, whether arising from negligence or breach of
                contract, or in any other way, even if we were notified of, or knew of the likelihood of, that loss
                or type of loss arising.
              </li>
              <li>
                Without prejudice to our rights under the Licence our liability for direct loss whether in contract,
                or tort, or arising in any other way, will not exceed 100% of the Charges paid by you during the period
                of 12 months preceding the date on which your claim for loss arises.
              </li>
              <li>
                If on any occasion provision of the Information is suspended or delayed or modified in order for us
                to meet our statutory obligations, no compensation or damages shall be due to you but we will make
                reasonable endeavours to keep service disruption to a minimum.
              </li>
            </ol>
          </li>
        </ol>

        <h2 class="govuk-heading-l">14. Notices</h2>
        <ol class="govuk-list govuk-list--number">
          <li>
            <ol class="govuk-list govuk-list--number">
              <li>
                All Notices to be given under this Licence shall be in writing and shall either be delivered personally
                or sent by first class prepaid post or electronic mail to the address of the party as set out in the
                Schedule (or such other address as the party may provide in accordance with the terms of this licence)
                and shall be deemed duly served:
                <ol class="govuk-list govuk-list--number">
                  <li>
                    In the case of notice delivered personally, at the time of delivery;
                  </li>
                  <li>
                    In the case of a notice sent by first class prepaid post, 2 clear working days after the date of dispatch;
                  </li>
                  <li>
                    In the case of electronic mail, if sent during Normal Working Hours then at the time of receipt,
                    and if sent outside Normal Working Hours then at 9am the next following Working Day.
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>

        <h2 class="govuk-heading-l">15. Privacy Statement</h2>
        <ol class="govuk-list govuk-list--number">
          <li>
            <ol class="govuk-list govuk-list--number">
              <li>
                We may collect and use the information commercially available or supplied by you:
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    To allow us to check your financial standing
                  </li>
                  <li>
                    To enable us to ensure that you use the Information in an appropriate manner
                  </li>
                  <li>
                    For reporting and statistical purposes 
                  </li>
                  <li>
                    For internal analysis on licensing, pricing, terms of use and data value, and
                  </li>
                  <li>
                    For such purpose or use as sharing, checking and verifying information with other government
                    departments and agencies or law enforcement agencies.
                  </li>
                </ul>
              </li>
            </ol>
          </li>
        </ol>
        <p>
          For further details of our use of information please see our <a href="">Personal Information Charter</a>.
        </p>

        <h2 class="govuk-heading-l">15. Governing law</h2>
        <p>
          This Licence is governed by the laws of England and Wales.
        </p>

        <h2 class="govuk-heading-l">Signing</h2>
        <p>
          Both Parties agree to comply with the terms and conditions of this Licence.
        </p>
        <p>
          Signed for and on behalf of Land Registry
        </p>
        <table>

        </table>
        <p>
          Signed for and on behalf of [                  ]
        </p>
        <table>

        </table>



        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <h2 class="govuk-heading-l">The Schedule</h2>
        <h3 class="govuk-heading-m">Part 1</h3>
        <h4 class="govuk-heading-s">A. Definitions</h4>
        <p>
          In this Schedule:
        </p>
        <p>
          ‘INSPIRE Polygons’ means our INSPIRE Index Polygons.
        </p>
        <p>
          ‘Land Registry Polygons Contract’ means the Land Registry Polygons Contract issued by Ordnance Survey
          for the use of the Polygons.
        </p>
        <p>
          ‘Polygon’ means a polygon (including associated geometry, namely xy coordinates) representing the indicative
          extent of a registered title(s) derived from the Land Registry Index Map.
        </p>
        <p>
          ‘Public Sector Licence’ means a Public Sector Mapping Agreement Member Licence or a One Scotland Mapping
          Agreement Member Licence issued by Ordnance Survey.
        </p>
        <p>
          ‘UPRN’ means the Unique Property Reference Numbers for properties in the Information.
        </p>

        <h4 class="govuk-heading-s">B. Start date</h4>
        <p>
          The start date is
        </p>

        <h4 class="govuk-heading-s">C. Licensor’s name, address and email address</h4>
        <p>
          HM Land Registry (acting by the Chief Land Registrar)
        </p>
        <p>
          Data Services Team, Birkenhead, Rosebrae Court, Woodside Ferry Approach, Birkenhead, Merseyside CH41 6DU
        </p>
        <p>
          E-mail: <a href="data.services@landregistry.gov.uk">data.services@landregistry.gov.uk</a>
        </p>
        <p>
          Telephone: 0300 006 0478
        </p>

        <h4 class="govuk-heading-s">D. Licensee’s name, address and email address</h4>

        <h4 class="govuk-heading-s">E. Acknowledgments and copyright protection</h4>
        <p>
          You acknowledge that the Information is Crown copyright protected and will ensure that the following notices
          are displayed in a conspicuous place wherever the Information appears:
        </p>
        <p>
          © Crown copyright material is reproduced with the permission of Land Registry under delegated authority
          from the Controller of HMSO.
        </p>

        <h4 class="govuk-heading-s">F. Information</h4>
        <h5 class="govuk-heading-xs">F.1 Details of the Information</h5>
        <p>
          The Information is the National Polygon Dataset and comprises the following three files:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Polygon File – includes all England and Wales Polygons, Title Number, Polygon ID, Polygon Status, Polygon Start/Update Date
          </li>
          <li>
            Tenure File – includes Title Number, Class of Title and Tenure
          </li>
          <li>
            UPRN File – includes Title Number and UPRN where available
          </li>
        </ul>

        <h5 class="govuk-heading-xs">F.2 Access to the Information</h5>
        <p>
          The Information will be available as follows:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Initial Download – being access to the National Polygon Dataset.
          </li>
          <li>
            Monthly Refresh – being access to full refreshes of each file in the National Polygon Dataset every month.
          </li>
          <li>
            Change Only Updates – being access to change only updates of the Polygon and Tenure files every month.
          </li>
        </ul>

        <h5 class="govuk-heading-xs">F.3 Further provisions relating to the Information</h5>
        <p>
          F.3.1:  All Polygons supplied under this Licence are post PAI (positional accuracy improvements) shift
          and have variable tolerances.
        </p>
        <p>
          F.3.2:  If you intend to display the Information against Ordnance Survey or other mapping background you
          must have an up to date agreement or licence with Ordnance Survey or other mapping supplier permitting you
          to use their information to display such data.  We accept no responsibility in relation to your licensing
          or other arrangements with Ordnance Survey or other mapping suppliers.
        </p>
        <p>
          F.3.4 We reserve the right to upgrade or change the delivery of the Information but we will use reasonable
          endeavours wherever possible to carry out the work out of office hours and to give reasonable notice of at
          least one month to you of any such change except in the case of an emergency or urgent upgrade when we will
          give as much notice as is reasonably practicable.
        </p>

        <h5 class="govuk-heading-xs">F.4 The rights to re-use of the Informationn</h5>
        <p>
          F.4.1 Subject to clauses 4.9, F.4.3, F.4.4, F.4.5 and F.4.6, you may re-use the Information, including re-use by:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            copying, publishing, distributing and transmitting the Information as part of your Product;
          </li>
          <li>
            adapting the Information; 
          </li>
          <li>
            exploiting the Information commercially (including by combining it with other information, data or
            applications, or your own Product); 
          </li>
          <li>
            allowing End-users to use the Information as authorised by an End-user Licence (except that an End-user
            shall not have the right to sub-license the right to access the Information).
          </li>
        </ul>
        <p>
          F.4.2 We use Ordnance Survey data in the preparation of the Polygons, and the Information includes the UPRN
          (also under licence from Ordnance Survey); therefore these licence terms (in particular clauses F4.2 to F4.6)
          regarding your use of the Polygons, UPRN and Polygon ID are by agreement with Ordnance Survey. It is a
          condition of our supplying the Information to you that you have first entered into a Land Registry Polygons
          Contract or a Public Sector Licence with Ordnance Survey.
        </p>
        <p>
          F.4.3 Your permitted use of the Polygons is as follows:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            F.4.3.1 If you hold a Public Sector Licence, your permitted use of the Polygons is in accordance with the
            terms of that Licence, provided and for so long as that Licence remains in force. In the event of any
            conflict between this Licence and the Public Sector Licence in relation to your licensed use rights for
            the Polygons, the Public Sector Licence will have precedence.  To be clear, if your Public Sector Licence
            terminates/expires, you will no longer be permitted to use the Polygons.
          </li>
          <li>
            F.4.3.2 If you hold a Land Registry Polygons Contract your permitted use of the Polygons is in accordance
            with the terms of that Contract, provided and for so long as that Licence remains in force. In the event
            of any conflict between this Licence and the Land Registry Polygons Contract in relation to your licensed
            use rights for the Polygons, this Licence will have precedence.  To be clear, if your Land Registry
            Polygons Contract terminates/expires, you will no longer be permitted to use the Polygons.
          </li>
        </ul>
        <p>
          F.4.4 If you require to use the Polygons for any purpose other than for which You are permitted under
          clauses F4.3.1 and F4.3.2 you must contact Ordnance Survey (http://www.ordnancesurvey.co.uk/) for the
          relevant licence conditions.
        </p>
        <p>
          F4.5 You cannot use the UPRN and Polygon ID to link the Polygons (or any INSPIRE Polygons) to any address or
          UPRN or other content (whether sourced pursuant to this Licence or otherwise) other than
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            in connection with your use of the Information for your internal business use under a Public Sector Licence; or
          </li>
          <li>
            as part of your use of the Information in your Product as permitted under this Licence.
          </li>
        </ul>

        <p>
          F4.6 You must include a condition in the End-user Licence that ensures:
        </p>
        <ol class="govuk-list govuk-list--number">
          <li>
            the End-user can only use the UPRN and Polygon ID whilst licensed for the Polygons pursuant to this Licence and
          </li>
          <li>
            the End-user cannot use the UPRN and Polygon ID to link the Polygons (or any INSPIRE Polygons) to any
            address or UPRN or other content (whether sourced pursuant to this Licence or otherwise), except as part
            of the End-users internal business use.
          </li>
        </ol>

        <h4 class="govuk-heading-s">G. Confidentiality and privacy</h4>
        <p>
          Under our arrangements with Ordnance Survey, we are required to inform Ordnance Survey of the identity of
          customers who have purchased the Information.
        </p>

        <h4 class="govuk-heading-s">H. Term</h4>
        <p>
          The term is for a period of one year from the Start Date.
        </p>

        <h4 class="govuk-heading-s">I. Dispute resolution</h4>
        <p>
          Any complaints regarding this Licence will be handled in accordance with our complaints procedure.
        </p>

        <h3 class="govuk-heading-m">Part 2</h3>
        <h4 class="govuk-heading-s">J. Payment details</h4>
        <p>
          J.1 The Charges are an annual charge of £20,000.
        </p>
        <p>
          J.2 Payment will be made by credit card, cheque or BACS. We reserve the right to introduce alternative
          methods of payment including payment by variable direct debit.
        </p>
        <p>
          J.3 You will not be permitted access to the Information until payment of the annual charge is received by
          us and you have entered into a licence with Ordnance Survey for the use of the Polygons.
        </p>
      </div>
    </div>
  </main>
</div>



<script>
  var url = document.referrer;

  if (url.indexOf("overseas") > -1) {
    url = "overseas";
  }

  if (url.indexOf("registered") > -1) {
    url = "registered";
  }
  if (url.indexOf("uk") > -1) {
    url = "uk";
  }
  document.getElementById('dataset').value = url;

</script>




{% endblock %}
