
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <nav class="app-navigation-1 govuk-clearfix full-screen">
    <ul class="app-navigation__list">
      <li>
        <a class="govuk-link" href="login-fromstart" data-topnav="Community">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage-v3">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="detailspages-dataset-v4-logged-in">Registered Leases Data </a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Dataset download options</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <a href="licence-v2" class="govuk-back-link">Back</a>
        <br>
        <br>

            <form action="check-your-answers-loggedin-js" method="post" class="form">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <!--<span class="govuk-caption-xl">Registered Leases Data </span>-->
                    <h1 class="govuk-fieldset__heading">Dataset download options</h1>
                  </legend>

                  <br>

                  <div class="govuk-checkboxes">

                    <h3 class="govuk-heading-m">Available file types</h3>
                    <div class="govuk-checkboxes__item" data-target="csv-file">
                      <input class="govuk-checkboxes__input" name="download-option" type="checkbox" value="Full file file" {{ checked("download-option", "Full file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Full file</label>
                    </div>

                    <div class="govuk-checkboxes__item" data-target="json-file">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="Change Only" {{ checked("download-option", "Change Only") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Change Only</label>
                    </div>
  <br>

                    <details class="govuk-details select_historical_files">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          View historical files
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <dl class="app-check-your-answers app-check-your-answers--short historical_files">
                          <div class="app-check-your-answers__contents">
                            <dt class="app-check-your-answers__question">

                            </dt>
                            <dt class="app-check-your-answers__question">
                              Change only file
                            </dt>
                            <dt class="app-check-your-answers__question">
                              Full version
                            </dt>
                          </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                September 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="September 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="September 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                August 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="August 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="August 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                July 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="July 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="July 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                              June 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="June 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="June 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                              May 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="May 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="May 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                              April 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="April 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="April 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>
                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                March 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="March 2018 - Full file" {{ checked("download-option", "March 2018 - Full file") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="March 2018 - Change only" {{ checked("download-option", "March 2018 - Change only") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                February 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="February 2018 - Full file" {{ checked("download-option", "February 2018 - Full file") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="February 2018 - Change only" {{ checked("download-option", "February 2018 - Change only") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                                January 2018
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="January 2018 - Full file" {{ checked("download-option", "January 2018 - Full file") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="January 2018 - Change only" {{ checked("download-option", "January 2018 - Change only") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                              December 2017
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="December 2017 - Full file" {{ checked("download-option", "December 2017 - Full file") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="December 2017 - Change only" {{ checked("download-option", "December 2017 - Change only") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                              November 2017
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="November 2017 - Full file" {{ checked("download-option", "November 2017 - Full file") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="November 2017 - Change only" {{ checked("download-option", "November 2017 - Change only") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>

                            <div class="app-check-your-answers__contents">
                              <dt class="app-check-your-answers__question">
                              October 2017
                              </dt>
                              <dd class="app-check-your-answers__answer">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="October 2017 - Full file" {{ checked("download-option", "October 2017 - Full file") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                              <dd class="app-check-your-answers__change">
                                <div class="govuk-checkboxes__item" data-target="Licence agreement">
                                  <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="October 2017 - Change only" {{ checked("download-option", "October 2017 - Change only") }}>
                                  <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                                </div>
                              </dd>
                            </div>
                          </dl>

                      </div>
                    </details>




                    <br>
                    <h3 class="govuk-heading-m">Download additional information</h3>
                    <div class="">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="Licence agreement" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>

                    <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="Licence agreement" {{ checked("download-option", "Licence agreement") }}>


                    <div class="govuk-checkboxes__item" data-target="tech-spec">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="Technical Specification" {{ checked("download-option", "Technical Specification") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Technical specification</label>
                    </div>
                  </div>

                  </div>

                </fieldset>
              </div>
              <button class="govuk-button">Continue</button>
            </form>

          </div>
        </div>
      </main>
    </div>

{% endblock %}
