
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Sign in to your account</li>
    </ol>
  </div>

  <div class="govuk-width-container">
  <main class="govuk-main-wrapper">
<a href="#" class="govuk-back-link back">Back</a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Older versions</h1>

  <form action="check-your-answers-loggedin-js" method="post" class="form">
            <dl class="app-check-your-answers app-check-your-answers--short historical_files">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">

                </dt>
                <dt class="app-check-your-answers__question">
                  Change only file
                </dt>
                <dt class="app-check-your-answers__question">
                  Full version
                </dt>
              </div>
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    September 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="September 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="September 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    August 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="August 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="August 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    July 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="July 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="July 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                  June 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="June 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="June 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                  May 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="May 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="May 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                  April 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="April 2018 - Full file" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="April 2018 - Change only" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    March 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="March 2018 - Full file" {{ checked("download-option", "March 2018 - Full file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="March 2018 - Change only" {{ checked("download-option", "March 2018 - Change only") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    February 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="February 2018 - Full file" {{ checked("download-option", "February 2018 - Full file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="February 2018 - Change only" {{ checked("download-option", "February 2018 - Change only") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    January 2018
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="January 2018 - Full file" {{ checked("download-option", "January 2018 - Full file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="January 2018 - Change only" {{ checked("download-option", "January 2018 - Change only") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                  December 2017
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="December 2017 - Full file" {{ checked("download-option", "December 2017 - Full file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="December 2017 - Change only" {{ checked("download-option", "December 2017 - Change only") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                  November 2017
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="November 2017 - Full file" {{ checked("download-option", "November 2017 - Full file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="November 2017 - Change only" {{ checked("download-option", "November 2017 - Change only") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>

                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                  October 2017
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="October 2017 - Full file" {{ checked("download-option", "October 2017 - Full file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                  <dd class="app-check-your-answers__change">
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="October 2017 - Change only" {{ checked("download-option", "October 2017 - Change only") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>
                  </dd>
                </div>
              </dl>
      </div>

    </div>
    <button class="govuk-button">Continue</button>
  </form>
  </main>
</div>


{% endblock %}
