
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row filter-user-type">

    <div class="govuk-grid-column-two-thirds">
      <a href="start-v2" class="govuk-back-link">Back</a>
      <br>
      <br>
      <h1 class="govuk-heading-xl">
        Playing around with the modal
      </h1>

      <!-- Trigger/Open The Modal -->


      <a  role="button" id="myBtn" class="govuk-button">
        View licence
      </a>

      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">

          <h1 class="govuk-heading-xl">
            Agree to the data licences
          </h1>


          <p>The file you are about to download includes data owned by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>HM Land Registry</li>
            <li>Ordnance Survey’s AddressBase Premium</li>
            <li>Royal Mail’s PAF® database (address data) </li>
         </ul>

         <h2 class="govuk-heading-l">How you can use this data</h2>

         <h3 class="govuk-heading-m">If you’re a business </h3>

         <p>You can use this data to: </p>
         <ul class="govuk-list govuk-list--bullet">
           <li>prevent and detect crime, including for:</li>
           <ul class="govuk-list govuk-list--bullet">
             <li>the apprehension or prosecution of alleged offenders</li>
             <li>proceedings in a court or tribunal</li>
             <li>complying with an order, a court or a tribunal</li>
         </ul>
           <li>keep records about land and properties</li>
        </ul>

        <h3 class="govuk-heading-m">If you’re a public body</h3>

        <p>You can use this data if you have a:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">Public Sector Mapping Agreement Licence</a></li>
          <li><a href="">One Scotland Mapping Agreement Member Licence</a></li>
        </ul>

        <p>These licences are issued by Ordnance survey and public bodies must use the data under the terms of these licences.</p>

        <p><a href="">Apply for a licence from Ordnance Survey</a>.</p>

        <h2 class="govuk-heading-l">Not sure if you can use this data?</h2>

        <p>Contact Royal Mail before you use this data. Ask them to confirm that your intended use is permitted under the terms of their licence.</p>

        <p><a href="">Email Royal Mail</a>.</p>

        <h3 class="govuk-heading-m">Read the full licences </h3>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">HM Land Registry’s data</a></li>
          <li><a href="">Ordnance Survey’s AddressBase Premium licence</a></li>
          <li><a href="">Royal Mail’s PAF® database licence</a></li>
        </ul>

        <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
                  I understand and agree to these licences
                </label>
                </div>
              </div>
            </fieldset>
          </div>

          <a href="" role="button" class="govuk-button">
            Agree and continue
          </a>

          <p><a href="" class="close">Cancel</a></p>

        </div>

      </div>



    </div>
  </div>

{% endblock %}
