
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Your link has expired
        </h1>

        <p class="govuk-body">The password reset link that you're using has expired. This is because the link that you were sent is older than (x) days.</p>

        <a href="reset-password" role="button" draggable="false" class="govuk-button">
          Send another link
        </a>
      </div>
    </div>
  </main>
</div>

{% endblock %}
