
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <nav class="app-navigation-1 govuk-clearfix full-screen">
    <ul class="app-navigation__list">
      <li>
        <a class="govuk-link" href="login" data-topnav="Community">Sign out</a>
      </li>
      <li>
        <a class="govuk-link" href="create-api-key-details" data-topnav="Get started">API access</a>
      </li>
      <li>
        <a class="govuk-link" href="" data-topnav="Get started">Your profile</a>
      </li>
    </ul>
  </nav>
  
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard-v6">Your profile</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Your previous download</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <a href="dashboard-v6" class="govuk-back-link">Back</a>
        <br>
        <br>

        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Your previous download</span> Commercial and Corporate
        </h1>

        <h2 class="govuk-heading-m">
        Download details
        </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">Date</th>
                <td class="govuk-table__cell">24 October 2018</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">Download version</th>
                <td class="govuk-table__cell">0.0.2</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">Latest version</th>
                <td class="govuk-table__cell">0.0.2</td>
              </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m">
        Download options
        </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">CSV file</th>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">XML file</th>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">JSON file</th>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row"><a href="">Licence agreement</a></th>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row"><a href="">Technical specification</a></th>
              </tr>
            </tbody>
        </table>

        <a href="download-again" role="button" class="govuk-button">
          Download again
        </a>

          <p class="govuk-body govuk-!-font-size-19"><a href="dashboard-v6">Return to profile</a></p>

        </div>
      </div>

  </main>
</div>


{% endblock %}
