
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <nav class="app-navigation-1 govuk-clearfix full-screen">
    <ul class="app-navigation__list">
      <li>
        <a class="govuk-link" href="dashboard-v6" data-topnav="Get started">Your profile</a>
      </li>
      <li>
        <a class="govuk-link" href="login" data-topnav="Community">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard-v6">Your profile</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Manage account details</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Your profile</span> Manage account details
        </h1>

        <h2 class="govuk-heading-m">
        Personal details
        </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">Name</th>
                <td class="govuk-table__cell ">John Smith</td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">Email address</th>
                <td class="govuk-table__cell ">j.smith@gmail.com</td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
            </tbody>
        </table>

        <br>

        <h2 class="govuk-heading-m">
        Business details
        </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">Name</th>
                <td class="govuk-table__cell ">Name of business</td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">Business address</th>
                <td class="govuk-table__cell ">72 Guild Street
                <br>
                London
                <br>
                SE23 6FH</td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
            </tbody>
        </table>

        <br>

        <h2 class="govuk-heading-m">
        Employees
        </h2>
        <p class="govuk-body govuk-!-font-size-19"><a href="">Add new employee</a></p>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Hannah McElhinny</td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Peter Monrow</td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Hayden Walsh</td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Jessica McKee</td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
            </tbody>
        </table>

          <p class="govuk-body govuk-!-font-size-19"><a href="dashboard-v6">Return to profile</a></p>

        </div>
      </div>

  </main>
</div>


{% endblock %}
