
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index2">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="listingspage">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Your datasets</li>
  </ol>
</div>

  <main class="govuk-main-wrapper download-page">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your datasets</h1>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
Registered Leases Data
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Licence</th>
                  <td class="govuk-table__cell"><span class="licence-type">Free Commercial</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Price of dataset</th>
                  <td class="govuk-table__cell ">£</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Last updated</th>
                  <td class="govuk-table__cell ">11 April 2017</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Size</th>
                  <td class="govuk-table__cell ">5Gb</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Rows in dataset</th>
                  <td class="govuk-table__cell ">Approximately 3 and a half million</td>
                </tr>
              </tbody>
              </table>
              <p>The dataset comprises a list of all titles owned by companies incorporated in the UK and English and Welsh corporate bodies.</p>
  <a href="#" class="remove-dataset">Remove</a>
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Overseas
            </span>
            </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Licence</th>
                  <td class="govuk-table__cell"><span class="licence-type">Free Commercial</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Price of dataset</th>
                  <td class="govuk-table__cell ">£</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Last updated</th>
                  <td class="govuk-table__cell ">11 April 2017</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Size</th>
                  <td class="govuk-table__cell ">5Gb</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Rows in dataset</th>
                  <td class="govuk-table__cell ">Approximately 3 and a half million</td>
                </tr>
              </tbody>
              </table>
              <p>The dataset comprises a list of all titles owned by companies incorporated in the UK and English and Welsh corporate bodies.</p>

              <a href="#" class="remove-dataset">Remove</a>

          </div>
        </details>
      <p>  <a href="listingspage">Add another dataset</a></p>
        <button type="submit" aria-disabled="false" class="govuk-button">
          download datasets
        </button>
      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>

  </main>
</div>


{% endblock %}
