
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage-v3">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="detailspages-dataset-OGL-v2">INSPIRE Polygon Data</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Dataset download options</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <form action="check-your-answers" method="post" class="form">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <span class="govuk-caption-xl">INSPIRE Polygon Data</span>
                    <h1 class="govuk-fieldset__heading">Dataset download options</h1>
                  </legend>

                  <br>

                  <div class="govuk-checkboxes">

                    <h3 class="govuk-heading-m">Available file types</h3>

                    <div class="govuk-checkboxes__item" data-target="csv-file">
                      <input class="govuk-checkboxes__input" name="download-option" type="checkbox" value="Full file" {{ checked("download-option", "Full file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Full file (August 2018)</label>
                    </div>

                    <div class="govuk-checkboxes__item" data-target="json-file">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="Change only file" {{ checked("download-option", "Change only file") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Change only file</label>
                    </div>

                    <div class="govuk-checkboxes" data-module="checkboxes">
                      <div class="govuk-checkboxes__item" data-target="xml-file">
                        <input class="govuk-checkboxes__input" id="historical-conditional" name="download-option" type="checkbox" value="Historical file" data-aria-controls="conditional-historical-conditional" {{ checked("download-option", "Historical file") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="historical-conditional">
                          Historical file
                        </label>
                      </div>
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-historical-conditional">
                        <div class="govuk-form-group">
                          <div class="govuk-checkboxes__item" data-target="xml-file">
                            <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="July 2018" {{ checked("download-option", "July 2018") }}>
                            <label class="govuk-label govuk-checkboxes__label" >July 2018</label>
                          </div>
                        </div>
                        <div class="govuk-form-group">
                          <div class="govuk-checkboxes__item" data-target="xml-file">
                            <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="June 2018" {{ checked("download-option", "June 2018") }}>
                            <label class="govuk-label govuk-checkboxes__label" >June 2018</label>
                          </div>
                        </div>
                        <div class="govuk-form-group">
                          <div class="govuk-checkboxes__item" data-target="xml-file">
                            <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="May 2018" {{ checked("download-option", "May 2018") }}>
                            <label class="govuk-label govuk-checkboxes__label" >May 2018</label>
                          </div>
                        </div>
                        <div class="govuk-form-group">
                          <div class="govuk-checkboxes__item" data-target="xml-file">
                            <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="April 2018" {{ checked("download-option", "April 2018") }}>
                            <label class="govuk-label govuk-checkboxes__label" >April 2018</label>
                          </div>
                        </div>
                        <div class="govuk-form-group">
                          <div class="govuk-checkboxes__item" data-target="xml-file">
                            <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="March 2018" {{ checked("download-option", "March 2018") }}>
                            <label class="govuk-label govuk-checkboxes__label" >March 2018</label>
                          </div>
                        </div>
                        <div class="govuk-form-group">
                          <div class="govuk-checkboxes__item" data-target="xml-file">
                            <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="February 2018" {{ checked("download-option", "February 2018") }}>
                            <label class="govuk-label govuk-checkboxes__label" >February 2018</label>
                          </div>
                        </div>
                      </div>


                    <br>
                    <h3 class="govuk-heading-m">Download additional information</h3>
                    <div class="govuk-checkboxes__item" data-target="Licence agreement">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="Licence agreement" {{ checked("download-option", "Licence agreement") }}>
                      <label class="govuk-label govuk-checkboxes__label" >Licence agreement</label>
                    </div>

                    <div class="govuk-checkboxes__item" data-target="tech-spec">
                      <input class="govuk-checkboxes__input"  name="download-option" type="checkbox" value="Technical Specification" {{ checked("download-option", "Technical Specification") }}>
                      <label class="gov uk-label govuk-checkboxes__label" >Technical specification</label>
                    </div>

                  </div>

                </fieldset>
              </div>

              <button type="submit" class="govuk-button">Continue</button>

            </form>

          </div>
        </div>
      </main>
    </div>

{% endblock %}
