
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">
          Application complete
        </h2>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <h3 class="govuk-heading-m">What happens next?</h3>

      <p class="govuk-body">
          We aim to contact you within 1 working day
      </p>

      <p class="govuk-body">
          You will recieve your account details and instructions on how to download the data by email
      </p>

      <p class="govuk-body">
          If you have not received an email within 1 working day, please ensure that you have checked your junk-mail
      </p>

      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>
      <br />
      <p>[For testing. <a href="start-v2">Link back to homepage</a>.]</p>
</div>


{% endblock %}
