
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="1-create-account" class="govuk-back-link">Back</a>
      <br>
      <br>
      <h1 class="govuk-heading-xl">
      Create your password
      </h1>
        <div class="govuk-form-group">

          <p>Choose a password with:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>8 or more characters</li>
            <li>1 number</li>
            <li>1 capital (large) letter</li>
            <li>1 lower case (small) letter</li>
            <li>1 symbol, for example a question mark</li>
          </ul>

          <p>Do not use any words that are easy to guess, for example your name.</p>
          
          <label class="govuk-label" for="address-line-1">
            Password
          </label>
           <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="password">
           <br><br>
          <label class="govuk-label" for="address-line-1">
            Confirm password
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="password">
        </div>

      </fieldset>

      <a href="3-check-answers" role="button" class="govuk-button">
        Continue
      </a>
    </form>
    </div>

</div>

{% endblock %}
