{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="context" data-id="id-1"></div>
<nav class="app-navigation-1 govuk-clearfix full-screen">
  <ul class="app-navigation__list">
    <li>
      <a class="govuk-link" href="login-fromstart" data-topnav="Community">Sign in</a>
    </li>
  </ul>
</nav>

<br>
<br>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">View datasets</li>
  </ol>
</div>
<!--
<div class="state-1 toggle-states"><a href="#">View licence</a></div><div class="state-2 toggle-states"><ul><li>Point 1</li><li>Point 2</li><li>Point 3</li><li>Point 4</li><li>Point 5</li></ul><a href="#">Agree</a></div><div class="state-3 toggle-states"><a href="#" download>Dowload latest</a></div>
-->



<div class="grid-row">
  <div class="column-two-thirds listings2">

    <h1 class="gem-c-heading  gem-c-heading--mobile-top-margin govuk-heading-xl">Download a data file</h1>
            <div class="consultation-outcome">
                <div class="gem-c-govspeak govuk-govspeak direction-ltr">
                <section class="attachment embedded" id="attachment_1233011">
                  <div class="attachment-thumb">
                      <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png" />
                  </div>
                  <div class="attachment-details">
                    <h2 class="title"><a href="https://land-reg.herokuapp.com/beta-sprint-3/detailspages-dataset-overseas">Overseas companies that own property in England and Wales</a></h2>
                    <p class="metadata">
                      <p class="float_left"><span class="type govuk-!-font-weight-bold govuk-tag app-task-list__task-completed">New data added to this file: 27 November 2018</span></p>
                      <p class="float_left">Download data about overseas companies that own land in England and Wales.<br> You need to <a href="createaccount">create an account</a> or <a href="login">sign in</a> to download this data.<br><br><span class="govuk-!-font-weight-bold">This file may not be suitable for users of assistive technology.</span></p>

                    </p>
                    <div class="download-wrapper">

                        <a href="" class="download" download><span>Download full file</span></a>
                        <a href="" class="download" download><span>Download change only</span></a>
                    </div>
                  </div>
                </section>
                <section class="attachment embedded" id="attachment_1233011">
                  <div class="attachment-thumb">
                      <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png" />
                  </div>
                  <div class="attachment-details">
                    <h2 class="title"><a href="https://land-reg.herokuapp.com/beta-sprint-3/detailspages-dataset-v4">Registered leases</a></h2>
                    <p class="metadata">
                      <p class="float_left"><span class="type govuk-!-font-weight-bold govuk-tag app-task-list__task-completed">New data added to this file: 27 November 2018</span></p>
                      <p class="float_left">Download data about overseas companies that own land in England and Wales.<br> You need to <a href="createaccount">create an account</a> or <a href="login">sign in</a> to download this data.<br><br><span class="govuk-!-font-weight-bold">This file may not be suitable for users of assistive technology.</span></p>

                    </p>
                    <div class="download-wrapper">

                        <a href="" class="download" download><span>Download full file</span></a>
                        <a href="" class="download" download><span>Download change only</span></a>
                    </div>
                  </div>
                </section>
                </div>
            </div>

</div>



<div class="column-one-third">

<div class="gem-c-contextual-sidebar">

    <!-- Rendering related navigation sidebar because no browse, no related links, no live taxons -->



</div>

</div>

</div>


</div>

{% endblock %}
