
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
                  <h1 class="govuk-panel__title">
                  Your password has changed
                  </h1>
                    </div>
                  <div class="govuk-panel__body">

                    <p>You can now sign in using the email address your registered with and your new password.</p>

                    <a href="login" role="button" draggable="false" class="govuk-button">
  Sign in
</a>
                  </div>

      </div>
    </div>
  </main>
</div>

{% endblock %}
