{% extends "layout.html" %}

{% block pageTitle %}
Use land and property data
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign in again</h1>

        <p>
          You have been signed out of this service automatically for security reasons. You need to sign in again to access
          your account.
        </p>

        <p><a href="sign-in">Sign in again</a></p>
        <p><a href="reset-password">I forgot my password</a></p>
      </div>
    </div>
  </main>
</div>




{% endblock %}
