
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-panel govuk-panel--confirmation">
      <h2 class="govuk-panel__title">
          Your account is almost ready
      </h2>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    </div>
    <br><br>
    <div class="govuk-grid-column-two-thirds">


      <h3 class="govuk-heading-m">What happens next?</h3>

      <p class="govuk-body">Check your email. HM Land Registry will email you when your account is ready to use. You can use the link in this email to create a password. After that, you can sign in and start downloading data.</p>
      <p class="govuk-!-font-weight-bold">What happens if your email doesn't arrive?</p>

      <div class="govuk-inset-text">
        Did you create a professional account for a UK organisation?
        HM Land Registry may take up to 2 days to approve your account
      </div>
      <br />
      <h3 class="govuk-heading-m">I did not get the email from HM Land Registry </h3>

      <ul><p>Check your junk mail folder. If you do not see the email in your junk mail:</p>
        <li><p>Wait 2 days (if you work for a UK organisation), or</p></li>
        <li><p>Email HM Land Registry: <a href="mailto:data.services@landregistry.gov.uk">data.services@landregistry.gov.uk</a> </p></li>
      </ul>




      <br />
      <p><a href="../listingspage">Return to Use land and property data</a></p>
</div>


{% endblock %}
