
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage-v3">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page"> </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <a href="2-createaccount-terms" class="govuk-back-link">Back</a>
          <br>
          <br>
          <h1 class="govuk-heading-xl">Terms of use: HM Land Registry’s land and property data</h1>
          <p>By using this service, you accept the terms of use on this page.</p>
        </div>
      </div>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
          <h2 class="page-contents__title">Page contents:</h2>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="#using-this-service" class="active">1. Using this service</a></li>
              <li><a href="#whats-included">2. About the service</a></li>
              <li><a href="#whats-included">3. What’s not included (and where to get it)</a></li>
              <li><a href="#free-and-paid">4. Free and paid data</a></li>
              <li><a href="#opening-an-account">5. Opening an account</a></li>
              <li><a href="#how-when-access">6. How and when you can access the service</a></li>
              <li><a href="#payments-to-hml">7. Payments to HM Land Registry</a></li>
              <li><a href="#contract">8. Your contract with HM Land Registry</a></li>
              <li><a href="#service-delays">9. Service delays and interruptions</a></li>
              <li><a href="#your-information">10. Your information and how we use it</a></li>
              <li><a href="#protect-information">11. How we protect your information</a></li>
              <li><a href="#how-complaint">12. How to make a complaint</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">

          <br>

          <h2 id="using-this-service" class="govuk-heading-l">1. Using this service</h2>
          <p>By using the service and/or registering an account, you agree that you will not: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>try to damage or interrupt this service or access to it</li>
            <li>use software to copy this or any other HM Land Registry system</li>
            <li>copy the information on our service and show it on another website</li>
            <li>try to add, change or delete any information from HM Land Registry </li>
            <li>allow any unauthorised person to access your account</li>
            <li>claim any arrangement or official partnership with HM Land Registry, Royal Mail, and Ordnance Survey, to supply or re-use information</li>
            <li>use the information for fraudulent or unlawful activity</li>
            <li>use the information in breach of copyright, including the copyright of an originating authority or their suppliers</li>
          </ul>

          <p>If you are not using this service in the agreed way: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>HM Land Registry can end your use of the service and cancel your account at any time, without notice</li>
            <li>you will have to pay any unpaid licence fees </li>
          </ul>

          <h2 id="about-this-service" class="govuk-heading-l">2. About the service</h2>
          <p>You can use this service to search for land and property data. </p>
          <p>Your search will show you a list of land and property data files from HM Land Registry. This data includes the date and time when new data was last added and when the file updated. This means that, if you search at 1 o clock, we can’t show you data added to the file at 2 o clock.</p>
          <p>The service can’t tell you if new data is being added while you search.</p>
          <p>If you want to check for ‘new’ data, you can search again and download the latest data at any time. New data is added to the service every month.  </p>


          <h2 id="whats-included" class="govuk-heading-l">3. What’s not included (and where to get it) </h2>
          <p>Your search will show you a list of big data files in different formats (XML,CSV and JSON). These files show data about all land and property in England and Wales. </p>
          <p>If you’re looking for information about 1 address or a few addresses, you can visit other HM Land Registry services to find this information: <a href="https://www.gov.uk/government/organisations/land-registry">https://www.gov.uk/government/organisations/land-registry</a>.</p>

          <h2 id="free-and-paid" class="govuk-heading-l">4. Free and paid data </h2>

          <h2 id="opening-an-account" class="govuk-heading-l">5. Opening an account</h2>
          <p>You need to set up an account to use this service. </p>
          <p>When you open your account, you will be asked for your credit/debit card details. No payment will be taken and there is no charge for downloading free data. HM Land Registry asks for your card details to identify you. </p>
          <p>The information you need to open an account varies depending on who you are and how you plan to use the data. </p>

          <h3 class="govuk-heading-m">If you’re using the data for personal use</h3>

          <p>To open an account, you need to give your:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Title</li>
            <li>First name </li>
            <li>Last name</li>
            <li>Email</li>
            <li>Phone</li>
            <li>Address</li>
            <li>Credit/debit card details</li>
          </ul>

          <p>You will be able to sign in to your account immediately after opening an account. </p>

          <h3 class="govuk-heading-m">If you’re using the data as part of your work for a UK company or charity </h3>

          <p>To open an account, you need to give your:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Title</li>
            <li>First name </li>
            <li>Last name</li>
            <li>Email</li>
            <li>Phone</li>
            <li>Organisation address</li>
            <li>Registration number</li>
            <li>Credit/debit card details</li>
          </ul>

          <p>You must wait up to 1 day before you can sign in to your account. This is because HM Land Registry will check details about the organisation you work for before you complete your registration.</p>

          <h3 class="govuk-heading-m">If you’re using the data as part of your work for an overseas company or charity</h3>

          <p>To open an account, you need to give your:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Title</li>
            <li>First name </li>
            <li>Last name</li>
            <li>Email</li>
            <li>Phone</li>
            <li>Organisation details</li>
            <li>Organisation name</li>
            <li>Country of incorporation</li>
            <li>Credit/debit card details</li>
          </ul>

          <p>You will be able to sign in to your account immediately after opening an account.</p>
          <p>You can’t change your details once you create an account.</p>
          <p>If you need to change your name or address details, you can set up a new account using a different email address.</p>

          <h3 class="govuk-heading-m">Keeping your account secure</h3>

          <p>You are responsible for:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>keeping your username and password secure</li>
            <li>all activity that occurs on or through your account</li>
          </ul>

          <p>If you think your account’s security has been breached, contact HM Land Registry:  </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Phone: 0300 006 0411</li>
            <li>To speak to a Welsh speaker, call 0300 006 0422</li>
          </ul>

          <p>HM Land Registry is not responsible for any losses if someone without authorisation uses your account.</p>
          <p>If you don’t use your account for 12 months, it will be deleted.  This is a security measure to protect you and your information. If you want to start using the service again, you’ll need to re-register.</p>

          <h2 id="how-when-access" class="govuk-heading-l">6. How and when you can access the service</h2>
          <p>You can access the service from any <a href="">supported internet-connected device and browser</a>.</p>
          <p>The service is available every day but may be taken down for updates and maintenance. If you are logged in when this happens, you’ll get a notification on your screen.</p>

          <h2 id="payments-to-hml" class="govuk-heading-l">7. Payments to HM Land Registry</h2>

          <p>By using the land and property data service, you agree to be bound by and pay for any data with a fee attached to it.</p>
          <p>Because the data is provided immediately after you have created an account, once you pay for the data you lose the right of cancellation you would normally have under The Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013. </p>
          <p>This means that by buying land or property data, you agree:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>to pay the fee for this service by making an online transaction (through WorldPay)</li>
            <li>the data will be provided as soon as you have paid </li>
            <li>that you lose your right to cancel once the official search results are made available for download</li>
          </ul>
          <p>HM Land Registry is not responsible for the security or privacy of information you provide when making a transaction through the service’s online payment provider. If you have an issue with this, you should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>contact the online payment provider directly</li>
            <li>tell HM Land Registry about the outcome by calling 0300 006 0411</li>
          </ul>

          <h2 id="contract" class="govuk-heading-l">8. Your contract with HM Land Registry</h2>

          <p>When you download data, HM Land Registry enters into a contract with you. HM Land Registry agrees to provide the land or property data selected by you, at the time and date of your transaction. </p>
          <p>You can end this contract at any time before you pay.  The contract is between you and HM Land Registry and no-one else can enforce any of its terms.</p>
          <p>The online payment provider will confirm your purchase and provide a transaction reference.</p>
          <p>Your contract with HM Land Registry ends when you get to the download page for your data. </p>

          <h2 id="service-delays" class="govuk-heading-l">9. Service delays and interruptions</h2>

          <p>HM Land Registry is not liable to you or any other person for losses caused by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>delays to this service </li>
            <li>getting your search result</li>
          </ul>

          <p>For example, from:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>interruptions to the internet</li>
            <li>services provided by third parties (anyone who is not HM Land Registry)</li>
            <li>false information from linked websites</li>
          </ul>

          <h2 id="your-information" class="govuk-heading-l">10. Your information and how we use it</h2>
          <p>If you do not set up an account, the only information we hold about is your IP address.  If you create an account, we will hold your:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>IP and email address</li>
            <li>password</li>
          </ul>

          <p>If HM Land Registry needs to contact you, it will notify you on screen. We may also write to you at the email address you provided when you registered. </p>

          <h2 id="protect-information" class="govuk-heading-l">11. How we protect your information</h2>

          <p>HM Land Registry follows the Data Protection Legislation and European Parliament Directives.  </p>
          <p>This means that we follow the directive’s personal information charter to:  </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>give data to you </li>
            <li>process your payment (only for data with a fee attached to it) </li>
            <li>record the download</li>
          </ul>
          <p>HM Land Registry only shares your personal information with other organisations if we are allowed to by law. It will:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>make sure nobody has access to it who shouldn’t</li>
            <li>only keep the information for as long as it’s needed</li>
            <li>not make it available for commercial use, such as marketing, without your permission</li>
          </ul>
          <p>If we need help processing your application, your order information can be shared with other:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>teams in HM Land Registry </li>
            <li>organisations </li>
          </ul>
          <p>There are some cases when your information can be shared for other reasons, for example to prevent crime. </p>

          <h2 id="how-complaint" class="govuk-heading-l">12. How to make a complaint</h2>

          <p>If you’re unhappy with the service, contact the HM Land Registry. You can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>complete the online <a href="">contact form </a></li>
            <li>phone: 0300 006 0411</li>
            <li>speak to a Welsh speaker: 0300 003 0422</li>
          </ul>
          <p>If you’re unhappy with the answer you receive, follow <a href="">the HM Land Registry’s internal complaints procedure</a>.</p>
          <p>If you’re still unhappy with the answer or need any advice, contact the <a href="">Independent Complaints Reviewer’s Office (ICR)</a>. The ICR can investigate your complaint independently from HM Land Registry.</p>

      </div>

    </div>
  </main>
</div>


{% endblock %}
