
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Digital Publishing Service - Prototypes
      </h1>


      <p>This is the homepage for the Digital Publishing Service prototype, showing the iterations that have been created through the GOV.UK Design system and their version history.</p>
      <p>All previous or other variations were created through sketch and are not showcased on the homepage.</p>

      <!--

      Sprint 5

      -->

      <h2 class="govuk-heading-l">Sprint 5</h2>

      <!--

      5.1

      -->

      <h2 class="govuk-heading-m"><a href="sprint-5-1/start-v2">Version 5.1</a></h2>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">(6th September 2018)</p>

      <!--

      Sprint 4

      -->

      <h2 class="govuk-heading-l">Sprint 4</h2>

      <!--

      4.1

      -->

      <h2 class="govuk-heading-m"><a href="sprint-4-1/start-v2">Version 4.1</a></h2>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">(14th August 2018)</p>

      <p class="govuk-body govuk-!-font-size-19">Includes create an account journey and placeholder area for the terms and conditions for the service</p>
      <p class="govuk-body govuk-!-font-size-19">Includes dashboard for standard user who can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Can access manage licences functionality</li>
        <li>Can access manage credentials functionality</li>
        <li>Can access manage downloads functionality</li>
        <li>See their activities</li>
        <li>Be able to find other datasets</li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Changes made to prototype</p>

      <table class="index-table">
        <tr>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Page</th>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Insight</th>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Change made to prototype</th>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Start</td>
          <td class="govuk-body govuk-!-font-size-19">Adding warning text to draw out the information -
            <br>
            Recommendation from mock assessment
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Minor content changes </li>
              <li>Adding warning text</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Listings</td>
          <td class="govuk-body govuk-!-font-size-19">Reccomendation from mock assessment to add brief description so that the journey was not broken
            <br>
            User testing session found that the user would use the file format avaliable for download as a factor when deciding which dataset to download
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Adding insert text to listings page to give user a brief description about the licence type without pushing them to go to another page</li>
              <li>Adding formats available for download</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Details page for Inspire</td>
          <td class="govuk-body govuk-!-font-size-19">Reccomendation from mock assessment
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Adding link to Find a Property</li>
              <li>Removing OGL logo to reduce clutter in table</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Download options</td>
          <td class="govuk-body govuk-!-font-size-19">Reccomendation from mock assessment
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Adding caption text above heading to remind user what dataset the download options are referring to</li>
              <li>Removing OGL logo to reduce clutter in table</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Check your choices</td>
          <td class="govuk-body govuk-!-font-size-19">Reccomendation from mock assessment
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Cleaning up visual hierarchy of page</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Dashboard</td>
          <td class="govuk-body govuk-!-font-size-19">
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Adding link to view the terms and conditions for the service</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">View download (from dashboard)</td>
          <td class="govuk-body govuk-!-font-size-19">
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Adding versionin of the dataset, so the user can view the version of that particular download and the most up to data version of the dataset</li>
              <li>Updating download again journey to include download options</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Create an account</td>
          <td class="govuk-body govuk-!-font-size-19">
            Reccomendation from mock assessment
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Cleaning up journey with recommendations from mock assessment brief</li>
              <li>Swapping position of check your answers and accept terms and conditions in journey</li>
            </ul>
          </td>
        </tr>
      </table>

      <br>
      <br>
      <br>


      <!--

      Sprint 3

      -->

      <h2 class="govuk-heading-l">Sprint 3</h2>

      <!--

      3.3

      -->

      <h2 class="govuk-heading-m"><a href="sprint-3-3/start-v2">Version 3.3</a></h2>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">(9th August 2018)</p>
      <p class="govuk-body govuk-!-font-size-19">Includes journey from login to dashboard before navigating to the download journey</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Changes made to prototype</p>

      <table class="index-table">
        <tr>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Page</th>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Insight</th>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Change made to prototype</th>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Dashboard</td>
          <td class="govuk-body govuk-!-font-size-19">
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>User can view their download details</li>
              <li>User can manage their account details</li>
              <li>User can manage their licences</li>
            </ul>
          </td>
        </tr>
        <tr>
      </table>

      <br>
      <br>
      <br>

      <!--

      3.2

      -->

      <h2 class="govuk-heading-m"><a href="sprint-3-2/start-v2">Version 3.2</a></h2>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">(2nd August 2018)</p>


      <p class="govuk-body govuk-!-font-size-19">Includes journey from start now button to listings page before navigating to the download journey</p>
      <p class="govuk-body govuk-!-font-size-19">Includes journey to dashboard view once the user has logged into their account</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - Licence details page</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Changes made to prototype</p>

      <table class="index-table">
        <tr>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Page</th>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Insight</th>
          <th class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Change made to prototype</th>
        </tr>
        <tr>
          <td class="govuk-body govuk-!-font-size-19">Start page</td>
          <td class="govuk-body govuk-!-font-size-19">
            Found that the user needed more context about the service
            <br>
            There was confusion around creating an account and why they might have
            <br>
            User found other services confusing and did not know why they should be concerned about this
          </td>
          <td>
            <ul class="govuk-list govuk-list--bullet">
              <li>Giving the user more information about the service</li>
              <li>More information on why they might have to create an account before downloading</li>
              <li>Moving other services from the side navigation to the body of the page</li>
            </ul>
          </td>
        </tr>
        <tr>
      </table>

      <br>
      <br>
      <br>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Start page</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Giving the user more information about the service</li>
        <li>More information on why they might have to create an account before downloading</li>
        <li>Moving other services from the side navigation to the body of the page in order to give more information about these other services to allow the user to make an informed decision </li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Listings page</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Order by select box</li>
        <li>Adding links to licence details instead of a showing the licence as a label</li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Details page</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Altering structure of the page to include page contents section</li>
        <li>Moving download call to action to the bottom of the page</li>
        <li>Adding new headings to better structure the page</li>
        <li>Adding important information about this licence section</li>
        <li>Adding more information about the download journey and setting the users expectations</li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Download options</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Separating the File options from the additional downloads </li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Accept licence page</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Adding more content around the licence and putting a placeholder in place for the main points out the licence</li>
        <li>Adding in some more help text around the third party rights </li>
      </ul>

      <!--

      3.1

      -->

      <h2 class="govuk-heading-m"><a href="sprint-3-1/start">Version 3.1</a></h2>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">(25th July 2018)</p>


      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - Check your choices</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - Download options page</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - Accept licence page</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - <a href="sprint-3-1/dashboard-v6">Dashboard V6</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - <a href="sprint-3-1/dashboard-v7">Dashboard V7</a></p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Listings page</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Removal of side filter until we have more datasets for the users to filter</li>
        <li>Removal of adding to download from this section until we have a clear user need</li>
        <li>Cutting down the information we give to the user at this point in order to find out what the user would expect to see</li>
      </ul>


      <!--

      Sprint 2

      -->

      <h2 class="govuk-heading-l">Sprint 2</h2>

      <!--

      2.1

      -->
      <h2 class="govuk-heading-m"><a href="sprint-2/start">Version 2.1</a></h2>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">(12th July 2018)</p>
      <p>This journey focuses on a shopping basket approach and what may happen if a user was to transact multiple datasets</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - <a href="sprint-2/start">Start page</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - <a href="sprint-2/createaccount">Create account</a></p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">New - <a href="sprint-2/listingspage">Download journey</a></p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Dashboard versions</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="sprint-2/dashboard">Dashboard</a></li>
        <li><a href="sprint-2/dashboard-v2">Dashboard V2</a></li>
        <li><a href="sprint-2/dashboard-v3">Dashboard V3</a></li>
        <li><a href="sprint-2/dashboard-v4">Dashboard V4 (User-1, company admin)</a></li>
      </ul>

      <!--

      Sprint 1

      -->

      <h2 class="govuk-heading-l">Sprint 1</h2>
      <p>The prototypes and variations created within this sprint are found within Sketch and Invision clickale wireframes</p>

    </div>
</div>

{% endblock %}
