<script>
/*

 FOR PROTOTYPING PURPOSES ONLY - NOT FOR PRODUCTION

*/
var sprintNumber = '5';
// BETA - Sprint 5


//Email templates

  /* CREATE PASSWORD */
  if (document.referrer == 'http://localhost:3000/beta-sprint-'+ sprintNumber +'/emails/account-rejected' || document.referrer == 'https://land-reg.herokuapp.com/beta-sprint-'+ sprintNumber +'/emails/account-rejected') {
    //window.location.href('');
    window.location.href = 'https://land-reg.herokuapp.com/beta-sprint-'+ sprintNumber +'/login-fromstart';
  }
  </script>
