{% extends "layout.html" %}

{% block pageTitle %}
Use land and property
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="detailspages-dataset-v4" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">Use land and property data</span>
                    Accessibility statement
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p>
                    This website is run by HM Land Registry. We want as many people as possible to be able to use this
                    website. For example, that means you should be able to:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>change colours, contrast levels and fonts </li>
                    <li>zoom in up to 300% without the text spilling off the screen</li>
                    <li>navigate most of the website using just a keyboard</li>
                    <li>navigate most of the website using speech recognition software</li>
                    <li>
                        listen to most of the website using a screen reader (including the most recent versions of
                        JAWS, NVDA and VoiceOver)
                    </li>
                </ul>
                <p>
                    We’ve also made the website text as simple as possible to understand.
                </p>
                <p>
                    <a href="https://abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use
                    if you have a disability.
                </p>

                <h2 class="govuk-heading-l">How accessible this website is</h2>
                <p>
                    We know some parts of this website were not fully accessible:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>some links were not highlighted</li>
                    <li>some labels were not recognised as labels</li>
                    <li>some hyperlinks were too long for text to speech software</li>
                    <li>tab colour contrast was difficult to distinguish for users with a visual impairment </li>
                </ul>
                <p>
                    We have fixed these issues.
                </p>

                <h2 class="govuk-heading-l">What to do if you can’t access parts of this website</h2>
                <p>
                    If you need information on this website in a different format like accessible PDF, large print,
                    easy read, audio recording or braille:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>email: <a href="mailto:data.services@landregistry.gov.uk">data.services@landregistry.gov.uk​</a></li>
                    <li>telephone: 0300 006 0478</li>
                </ul>
                <p>
                    We’ll consider your request and get back to you in 5 working days.
                </p>

                <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
                <p>
                    We’re always looking to improve the accessibility of this website. If you find any problems that are
                    not listed on this page or think we’re not meeting the accessibility requirements, contact the
                    Customer Services Centre by:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>telephone - 0300 006 0411​</li>
                    <li>post -  HM Land Registry Citizen Centre, PO Box 74, Gloucester, GL14 9BB</li>
                </ul>

                <h2 class="govuk-heading-l">Enforcement procedure</h2>
                <p>
                    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector
                    Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility
                    regulations’). If you’re not happy with how we respond to your complaint,
                    <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory
                    and Support Service (EASS)</a>.
                </p>

                <h2 class="govuk-heading-l">Contacting us by phone or visiting us in person</h2>
                <p>
                    We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.
                </p>
                <p>
                    Our offices have audio induction loops, or if you contact us before your visit we can arrange a
                    British Sign Language (BSL) interpreter.
                </p>
                <p>
                    Find out how to <a href="https://www.gov.uk/guidance/contact-hm-land-registry">contact us</a>.
                </p>

                <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
                <p>
                    HM Land Registry is committed to making its website accessible, in accordance with the Public Sector
                    Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
                </p>
                <p>
                    This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content
                    Accessibility Guidelines version 2.1</a> AA standard.
                </p>

                <h2 class="govuk-heading-l">Non-accessible content</h2>
                <p>
                    All content is accessible within the scope of the regulations.
                </p>

                <h2 class="govuk-heading-l">Content that’s not within the scope of the accessibility regulations</h2>
                <p>
                    User research found that there could be a security concern for people who use speech to text
                    software when creating a password.
                </p>

                <h2 class="govuk-heading-l">How we tested this website</h2>
                <p>
                    This website was last tested on 27 August 2019. The test was carried out by an independent internal
                    audit team using our test suite in Quality Centre. This is an industry standard tool. An internal
                    team of users who regularly use accessibility software also tested the website.
                </p>
                <p>
                    We tested:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        our main website platform, available at <a href="https://preprod.use-land-property-data.landregistry.gov.uk/">
                        https://preprod.use-land-property-data.landregistry.gov.uk/</a>
                    </li>
                </ul>

                <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
                <p>
                    There are no outstanding issues on this website. When we introduce new pages or functions, we’ll re-test our website.
                </p>

                <p class="govuk-!-font-weight-bold">
                    This statement was prepared on 13 September 2019. It was last updated on 1 October 2019.
                </p>
            </div>
        </div>
    </main>
</div>


{% endblock %}
