
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <nav class="app-navigation-1 govuk-clearfix full-screen">
    <ul class="app-navigation__list">
      <li>
        <a class="govuk-link" href="login-fromstart" data-topnav="Community">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage-v3">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="detailspages-dataset-v4-logged-in">Registered Leases Data</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Licence agreement</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="detailspages-dataset-v4-logged-in" class="govuk-back-link">Back</a>
        <br>
        <br>
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Licence agreement</span> Free and licensed
        </h1>

        <p>You are now signed in. Agree to the terms of use before you download the data.</p>

        <h2>Conditions for using the dataset<h2>
        <p class="govuk-body">The property addresses in the information are processed against Ordnance Survey’s AddressBase Premium product, which incorporates Royal Mail’s PAF® database (address data).</p>
        <p class="govuk-body">You can use the addresses in the information as long as you agree to the following terms</p>

        <h3>Private sector use:</h3>
        <p class="govuk-body">For personal and/or non-commercial use.
          <ul class="govuk-list govuk-list--bullet">
            <li>The effective management of land and properties, assisting with the maintenance of ownership records, and ensuring that land transactions are promptly and accurately recorded.</li>
            <li>For the prevention or detection of crime, the apprehension or prosecution of alleged offenders, any proceedings in a court or tribunal or complying with an order or a court or a tribunal.</li>
          </ul>



        <h3>Public body use:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>If you hold a Public Sector Mapping Agreement Licence or a One Scotland Mapping Agreement Member Licence issued by Ordnance Survey, your permitted use of the property addresses is in accordance with the terms of that Licence.</li>
          <li>If you want to use the property addresses contained within the Information in any other way, you must contact Royal Mail. Email <a href="maito:address.management@royalmail.com">address.management@royalmail.com</a></li>
       </ul>


       <div class="govuk-warning-text">
         <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
         <strong class="govuk-warning-text__text">
           <span class="govuk-warning-text__assistive">Warning</span>
           If you use the data in any other way you may be at risk of being fined.
         </strong>
       </div>

        <h3>By continuing</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>you confirm that you agree to the <a href="free-commercial-licence">licencing agreement</a> for Free and licensed datasets</li>
          <li>you will have access to all datasets covered by this licence</li>
        </ul>


        <br>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
                <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
                I agree
              </label>
              </div>
            </div>
          </fieldset>
        </div>

        <a href="download-file-options-withlicence" role="button" class="govuk-button">
          Agree and continue
        </a>

        </div>
      </div>

  </main>
</div>


{% endblock %}
