
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="world-pay-1" class="govuk-back-link">Back</a>
      <br>
      <br>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <img style="width: 200%;" src="/public/images/worldpay2.jpeg">
        </div>
      </div>

      <a class="govuk-button" href="world-pay-end" role="button">
        Continue
      </a>

</div>

{% endblock %}
