{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="detailspages-dataset-v4-logged-in" class="govuk-back-link">Back</a>
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create an account to download HM Land Registry data</h1>

        <p> If you want to see data that has a licence, you need an account.</p>
        <p>When you sign up, HM Land Registry will ask you:</p>
        <ul>
          <li>for information, so we can check your identity</li>
          <li>to agree to a licence</li>
        </ul>


        <div class="govuk-inset-text">
          <p>Before you create an account, <a href="data-licences">check the data licences to find out how you can use this data</a>.  </p>
        </div>

        <a href="createaccount" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
        </a>
        <h2>Before you start</h2>
        <h3> Before you start</h3>
        <p>Check this is the right service for you</p>
        <p>If you want information about:</p>
        <ul>
          <li>every address in England and Wales, <a href="createaccount">create an account</a></li>
          <li>1 address, <a href="https://www.gov.uk/search-property-information-land-registry">use a different service and search by postcode</a> instead</li>
        </ul>
        <h3>What will I get if I create an account?</h3>
        <p>This is a new service and it is still being built. This means that you will not see all licensed data files once you have an account. HM Land Registry expects to have moved every licensed data file to the service by DD/MM/YY.
        <p>Account-holders can currently see 3 data files:
        <ul>
          <li>UK companies that own property in England and Wales </li>
          <li>Overseas companies that own property in England and Wales </li>
          <li>registered leases </li>
        </ul>
        <p>If you are looking for other data files, you can <a href="listingspage-v7">see a list of the other data files from HM Land Registry and where to find them</a>.
        <h3> Why you need an account </h3>
        <p>HM Land Registry asks you to create an account so we can:</p>
        <ul>
          <li>record who has agreed to the data licence</li>
          <li>ask you for information so we can check your identity </li>
          <li>prevent data fraud</li>
        </ul>
        <p>We check your identity to prevent data fraud. Licensed data can only be used in a certain way (according to the licence terms) and if you use the data outside the licence you can be taken to court. </p>
        <h3> How long it takes before you can get the data</h3>
        <p>It takes about 5 minutes to apply for your account, but HM Land Registry can take a further 2 working days to approve it. This means that you may need to wait 2 working days before you can get the data. </p>
        <p>It takes 2 days because HM Land Registry needs to check your identity before you can see the data. In most cases, we can do this quickly and you can download the data on the same day you create your account. </p>
        <h3> Check what you can do with the data before you create an account</h3>
        <p>HM Land Registry recommends that you check the data licences before you create an account. The licences explain what you can do with the data.</p>
        <ul>
          <li style="background:yellow">[LINK: Check the licence for UK companies that own property in England and Wales]</li>
          <li style="background:yellow">[LINK: Check the licence for Overseas companies that own property in England and Wales]</li>
        </ul>
        <p>If you are not sure what you can do with the data, check with Royal Mail. Royal Mail owns some of the data in these files. They can tell you how you can use the data.
        <a href="<a href="mailto:example@royalmail.com">example@royalmail.com</a></p>
        <h3>Information you need to open an account</h3>
        <p>To create an account, you need to tell HM Land Registry your:</p>
        <ul>
          <li>name</li>
          <li>email</li>
          <li>address </li>
          <li>phone number</li>
          <li>country of residence</li>
        </ul>
        <p>If you’re using the data for work, you’ll also need to include information about the organisation you work for.</p>
        <p>If your office is in the UK, this will be your:</p>
        <ul>
          <li>company name</li>
          <li>office address
          <li>type of company </li>
          <li>company registration number </li>
        </ul>
        <p>If your office is outside the UK, this will be the:<p>
        <ul>
          <li>company name</li>
          <li>office address</li>
          <li>country where your organisation is registered</li>
        </ul>
        <p>You will also need to tell us your credit/debit card details. You will not be charged and no payment will be taken. We ask for your debit/credit card details to check your identity.</p>
        <h3> Other ways to get this data</h3>

        <p style="background:yellow">Placeholder. Assisted digital route will go here.</p>


      </div>

    </div>
  </main>
</div>




{% endblock %}
